__pycache__/
*.py[cod]
*.pyo
*.pyd
*.ruff_cache
*.egg-info/
dist/
build/
.venv/
venv/
.env/
poetry.lock
.cache/
# .vscode/
.idea/
.DS_Store
Thumbs.db
*.log
logs/
data/
output/
tmp/
results/
*.parquet
*.csv
*.jsonl
spark-warehouse/
metastore_db/
.delta_log/
.ipynb_checkpoints/
.coverage
htmlcov/
.pytest_cache/
.env
.env.*
.dbt
not_commit
