USE [T3_OTIF]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8391_Backorders_v2]    Script Date: 12/05/2026 07:24:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8391_Backorders_v2]

AS

/* =====================================================================================================================================================================
** Author:  			Greg Price
** Create date:			2024-04-04
**
**************** Change History ****************************************************************************************************************************************
** Date:		Author:			Version:	Helpdesk No:	Description:
** --------		-------			--------	------------	------------------------
** 
** 20240905		Greg			2.0			UNI-66911		Rewrote the logic to determine the 'current loss reason', as the current code written by forecasting wasn't working 100% correctly
** 
** 
** 
** 
**
************************************************************************************************************************************************************************
======================================================================================================================================================================== */

IF OBJECT_ID('tempdb..#SOsInScope') IS NOT NULL DROP TABLE #SOsInScope
IF OBJECT_ID('tempdb..#Deliveries') IS NOT NULL DROP TABLE #Deliveries
IF OBJECT_ID('tempdb..#CreditBlocks') IS NOT NULL DROP TABLE #CreditBlocks
IF OBJECT_ID('tempdb..#BecameBODate') IS NOT NULL DROP TABLE #BecameBODate
IF OBJECT_ID('tempdb..#CalculationTable1') IS NOT NULL DROP TABLE #CalculationTable1
IF OBJECT_ID('tempdb..#CalculationTable2') IS NOT NULL DROP TABLE #CalculationTable2

CREATE TABLE #CalculationTable1 (OrderCol INT, Field VARCHAR(30), Datasource VARCHAR(MAX))
INSERT INTO #CalculationTable1 (OrderCol, Field, Datasource) VALUES (1 ,'AvailStock','SELECT Material, Plant, SUM(ISNULL(Unrestricted, 0) + ISNULL(QualityInspection, 0)) AS Outstanding FROM T2_UnipartRail.dbo.V_J0002_StockInStorageLocation GROUP BY Material, Plant')
INSERT INTO #CalculationTable1 (OrderCol, Field, Datasource) VALUES (4 ,'OverduePOs','SELECT Material, Plant, Outstanding FROM V_J8391_Backorders_OverduePOs')
INSERT INTO #CalculationTable1 (OrderCol, Field, Datasource) VALUES (5 ,'QueryPOs','SELECT Material, Plant, Outstanding FROM V_J8391_Backorders_QueryPOs')

CREATE TABLE #SOsInScope (SO VARCHAR(15), SOI VARCHAR(6), Material VARCHAR(30), Plant VARCHAR(4) PRIMARY KEY (SO, SOI))

TRUNCATE TABLE [T3_OTIF].dbo.J8391_Backorders_Today_v2

-----------------------------------------------------------------------------------------

INSERT INTO #SOsInScope (SO, SOI, Material, Plant)
SELECT DISTINCT otif.SO, otif.SOI, so.Material, so.Plant
FROM T3_OTIF..J8329_OTIF_History otif
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON otif.SO = so.SalesOrder AND otif.SOI = so.SalesOrderItem
WHERE ((OTIFAdjustedFlag = 0 AND COALESCE(OTIFAdjustReason,'') <> 'Created Date') OR (OTIFFlag = 0 AND OTIFAdjustReason = 'Created Date'))
AND OTIFDate <> CAST(GETDATE() AS DATE)
AND so.ProfitCentre NOT IN ('0000001700','0000001800') -- 1800 removed at request of DA 03/03/2026

INSERT INTO #SOsInScope (SO, SOI, Material, Plant)
SELECT DISTINCT bo.SO, bo.SOI, so.Material, so.Plant
FROM J8391_Backorders_v2_Historic bo
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON bo.SO = so.SalesOrder AND bo.SOI = so.SalesOrderItem
WHERE NOT EXISTS (	SELECT 1
					FROM #SOsInScope sois
					WHERE bo.SO = sois.SO
					AND bo.SOI = sois.SOI)
AND so.ProfitCentre NOT IN ('0000001700','0000001800') -- 1800 removed at request of DA 03/03/2026
AND InsertedDate = (SELECT MAX(InsertedDate) FROM J8391_Backorders_v2_Historic)

SELECT VGBEL ReferenceDoc, VGPOS ReferenceItem, SUM(del.LGMNG) DelivQty
INTO #Deliveries
FROM T1_Trans_FB.dbo.SD_SAP_DS_LIKP_LIPS del
WHERE EXISTS (	SELECT 1
				FROM #SOsInScope sois
				WHERE del.VGBEL = sois.SO AND del.VGPOS = sois.SOI)
AND LIPS_WERKS IN (SELECT Plant FROM T1_Control.dbo.CT_ClientTable WHERE Company = 'UnipartRail')
AND (del.DeletionFlag IS NULL OR del.DeletionFlag <> 'X')
GROUP BY del.VGBEL, del.VGPOS

INSERT INTO [J8391_Backorders_Today_v2] (SO, SOI, Material, Plant, OrderQty, DeliveredQty)
SELECT DISTINCT SO, SOI, x.Material, x.Plant, so.OrderQty, COALESCE(del.DelivQty,0)
FROM #SOsInScope x
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON x.SO = so.SalesOrder AND x.SOI = so.SalesOrderItem
LEFT JOIN #Deliveries del 
ON x.SO = del.ReferenceDoc AND x.SOI = del.ReferenceItem
LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm
ON cm.Customer = so.Customer
WHERE COALESCE(del.DelivQty,0) < COALESCE(so.OrderQty,0)
AND so.RejectionReason IN ('','L')
AND CustomerGroupText NOT LIKE 'Heritage%' AND Name1 NOT LIKE 'Heritage%'

UPDATE [J8391_Backorders_Today_v2]
SET
OriginalOTIFDate = otif.OTIFDate
FROM [J8391_Backorders_Today_v2] x
LEFT JOIN dbo.J8329_OTIF_History otif
ON otif.SO = x.SO AND otif.SOI = x.SOI

TRUNCATE TABLE [dbo].[J8329_GetOTIFDate_InputTable]

INSERT INTO [dbo].[J8329_GetOTIFDate_InputTable] SELECT SO, SOI FROM [J8391_Backorders_Today_v2]

UPDATE [J8391_Backorders_Today_v2]
SET
CurrOTIFDateReason = od.OTIFDateReason,
CurrOTIFDate = od.OTIFDate
FROM [J8391_Backorders_Today_v2] bo
JOIN fn_J8329_OTIFDate(NULL) od ON od.SO = bo.SO AND od.SOI = bo.SOI

UPDATE [J8391_Backorders_Today_v2]
SET 
BOQty = OrderQty - COALESCE(DeliveredQty,0),
BOQtyAdj = CASE WHEN CurrOTIFDate < CAST(GETDATE() AS DATE) THEN OrderQty - COALESCE(DeliveredQty,0) ELSE 0 END

UPDATE [J8391_Backorders_Today_v2]
SET
BOValue = BOQty * so.NetPrice * (1/(1.0 * so.PriceUnit)),
BOValueAdj = BOQtyAdj * so.NetPrice * (1/(1.0 * so.PriceUnit))
FROM [J8391_Backorders_Today_v2] x
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON x.SO = so.SalesOrder AND x.SOI = so.SalesOrderItem

UPDATE [J8391_Backorders_Today_v2]
SET
BOQtyAdj = 0, BOValueAdj = 0
FROM [J8391_Backorders_Today_v2] bo
LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON so.SalesOrder = bo.SO AND so.SalesOrderItem = bo.SOI
LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON crn.Customer = so.Customer
LEFT JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBUK vbuk ON vbuk.VBELN = so.SalesOrder
LEFT JOIN T2_UnipartRail.dbo.V_J0001_MaterialProductHierarchy mph ON mph.Material = bo.Material
WHERE crn.CustomerReportName = 'Metrolink'
OR (so.DeliveryBlock = '93') -- Waiting for a Customer to do something
OR (vbuk.SPSTG <> '' OR vbuk.CMGST = 'B' OR so.DeliveryBlock <> '' OR so.BillingBlock <> '')

OR (bo.Material = '0082/000129') --keys
OR (bo.Material = '0086/029901') --keys
OR (bo.Material = '0086/029902') --keys
OR (bo.Material = '0086/029905') --keys
OR (bo.Material = '0086/029906') --keys
OR (bo.Material = '0086/046896') --keys
OR (bo.Material = '0086/081324') --keys

OR (bo.Material = '0082/000129') --detonator, We wait for Customers on these

UPDATE [J8391_Backorders_Today_v2]
SET 
COMarker = CASE WHEN mvke.[Dchain-Spec] IN ('CO','PO','AO') THEN mvke.[Dchain-Spec] END
FROM [J8391_Backorders_Today_v2] bo
JOIN T2_UnipartRail..V_J0001_Material_SalesDataMaterial_MVKE mvke
ON bo.Material = mvke.Material

UPDATE dbo.J8391_Backorders_Today_v2
SET
BlockedType = CASE WHEN VBELN IS NULL THEN '' ELSE 'Credit Block' END
FROM dbo.J8391_Backorders_Today_v2 bo
LEFT JOIN (SELECT VBELN FROM [T1_Trans_FB].[dbo].[SD_SAP_DS_VBUK] WHERE CMGST = 'B') CreditBlocks
ON bo.SO = CreditBlocks.VBELN

UPDATE dbo.J8391_Backorders_Today_v2
SET
LineSuppress = 1,
LineSuppressReason = 'On Hold Production Order'
FROM J8391_Backorders_Today_v2 bo
JOIN T1_Control.dbo.J8517_ZORD z
ON bo.SO = z.VBELN AND bo.SOI = z.POSNR AND bo.CurrOTIFDateReason = 'Manuf Ack Date' AND z.Status = 'X' AND ProdOrdStatus NOT IN ('Comitted to Plan','Complete','In Progress','In Schedule')

CREATE TABLE #CalculationTable2 (	LineType VARCHAR(20),
									OrderCol INT,
									SO VARCHAR(20),
									SOI VARCHAR(6),
									Material VARCHAR(30),
									Plant VARCHAR(4),
									CurrOTIFDate DATE,
									BOQtyAdj NUMERIC(13,2),
									LineTypeTotalQty NUMERIC(13,2),
									LineTypeResidualQty NUMERIC(13,2),
									BOCoverage NUMERIC(13,2))

DECLARE @Qry VARCHAR(MAX), @OrderCol INT, @Datasource VARCHAR(MAX), @Field VARCHAR(50), @StuffedBOCoverage VARCHAR(MAX)

DECLARE _Cursor CURSOR FOR SELECT DISTINCT x.OrderCol FROM #CalculationTable1 x ORDER BY x.OrderCol
OPEN _Cursor
FETCH _Cursor INTO @OrderCol
WHILE @@FETCH_STATUS = 0
BEGIN

SET @Datasource = (SELECT Datasource FROM #CalculationTable1 WHERE OrderCol = @OrderCol)
SET @Field = (SELECT Field FROM #CalculationTable1 WHERE OrderCol = @OrderCol)

SET @Qry = CONCAT('INSERT INTO #CalculationTable2 (LineType, OrderCol, SO, SOI, Material, Plant, CurrOTIFDate, BOQtyAdj, LineTypeTotalQty)
SELECT ''',@Field,''', ',@OrderCol,', SO, SOI, bo.Material, bo.Plant, CurrOTIFDate, bo.BOQtyAdj, x.Outstanding
FROM J8391_Backorders_Today_v2 bo
LEFT JOIN (',@Datasource,') x
ON x.Material = bo.Material AND x.Plant = bo.Plant

UPDATE J8391_Backorders_Today_v2
SET
T_',@Field,' = COALESCE(x.Outstanding,0)
FROM J8391_Backorders_Today_v2 bo
LEFT JOIN (',@Datasource,') x
ON x.Material = bo.Material AND x.Plant = bo.Plant')

EXEC(@Qry)

FETCH NEXT FROM _Cursor INTO @OrderCol

END
CLOSE _Cursor
DEALLOCATE _Cursor

UPDATE #CalculationTable2
SET 
LineTypeTotalQty = 0
WHERE LineTypeTotalQty IS NULL

DECLARE _Cursor2 CURSOR FOR SELECT DISTINCT x.OrderCol FROM #CalculationTable1 x ORDER BY x.OrderCol
OPEN _Cursor2
FETCH _Cursor2 INTO @OrderCol
WHILE @@FETCH_STATUS = 0
BEGIN

SET @Field = (SELECT Field FROM #CalculationTable1 WHERE OrderCol = @OrderCol)

SET @Qry = CONCAT('
;WITH X AS (SELECT SO, SOI, OrderCol, BOQtyAdj + LineTypeTotalQty - SUM(BOQtyAdj) OVER(PARTITION BY Material, Plant, LineType ORDER BY CurrOTIFDate, OrderCol, SO, SOI) AS Qty
			FROM #CalculationTable2
			WHERE LineTypeTotalQty <> 0
			AND OrderCol = ',@OrderCol,')

UPDATE #CalculationTable2
SET
LineTypeResidualQty = COALESCE(Qty,LineTypeResidualQty)
FROM #CalculationTable2 c
LEFT JOIN x
ON X.SO = c.SO AND X.SOI = c.SOI AND X.OrderCol = c.OrderCol

UPDATE #CalculationTable2
SET
BOCoverage = CASE WHEN COALESCE(LineTypeResidualQty,0) <= 0 THEN 0 WHEN COALESCE(LineTypeResidualQty,0) < BOQtyAdj THEN COALESCE(LineTypeResidualQty,0) ELSE BOQtyAdj END
WHERE OrderCol = ',@OrderCol,'

UPDATE #CalculationTable2
SET
BOQtyAdj = COALESCE(Qty,BOQtyAdj)
FROM #CalculationTable2 c2
LEFT JOIN (	SELECT SO, SOI, BOQtyAdj - BOCoverage AS Qty
			FROM #CalculationTable2
			WHERE OrderCol = ',@OrderCol,') x
ON x.SO = c2.SO AND x.SOI = c2.SOI AND c2.OrderCol > ',@OrderCol,'

UPDATE J8391_Backorders_Today_v2
SET
BOCoverage_',@Field,' = x.BOCoverage
FROM J8391_Backorders_Today_v2 bo
LEFT JOIN (	SELECT SO, SOI, BOCoverage
			FROM #CalculationTable2
			WHERE OrderCol = ',@OrderCol,') x
ON bo.SO = x.SO AND bo.SOI = x.SOI')

EXEC(@Qry)

FETCH NEXT FROM _Cursor2 INTO @OrderCol

END
CLOSE _Cursor2
DEALLOCATE _Cursor2

SET @StuffedBOCoverage = (SELECT STUFF((SELECT 'BOCoverage_' + Field + '+' FROM #CalculationTable1 FOR XML PATH ('')),1,0,''))
SET @StuffedBOCoverage = LEFT(@StuffedBOCoverage,LEN(@StuffedBOCoverage) - 1)

SET @Qry = CONCAT('UPDATE J8391_Backorders_Today_v2 SET BOCoverage_Other = BOQtyAdj - (',@StuffedBOCoverage,')')

EXEC(@Qry)

DELETE FROM dbo.J8391_Backorders_v2_Historic
WHERE InsertedDate = CAST(GETDATE() AS DATE)

INSERT INTO J8391_Backorders_v2_Historic
SELECT GETDATE(), *, NULL FROM J8391_Backorders_Today_v2




TRUNCATE TABLE J8391_Backorders_v2_Historic_SupplementaryInformation
INSERT INTO J8391_Backorders_v2_Historic_SupplementaryInformation (SO, SOI, BecameBODate, LeftBODate)
SELECT SO, SOI, MIN(InsertedDate) MinInsertedDate, MAX(DATEADD(DAY,1,InsertedDate)) MaxInsertedDate
FROM J8391_Backorders_v2_Historic
WHERE BOQtyAdj <> 0
AND COALESCE(LineSuppress,0) <> 1
GROUP BY SO, SOI

UPDATE J8391_Backorders_v2_Historic_SupplementaryInformation
SET
LeftBODate = CASE WHEN 1 = 0 THEN '1901-01-01' END,
CurrentBO = 1
WHERE LeftBODate = DATEADD(DAY,1,CAST(GETDATE() AS DATE))

UPDATE J8391_Backorders_v2_Historic_SupplementaryInformation
SET
DaysInBO = DATEDIFF(DAY,BecameBODate,COALESCE(LeftBODate,CAST(GETDATE() AS DATE)))

UPDATE J8391_Backorders_v2_Historic_SupplementaryInformation
SET
WDsInBO = -1 + (SELECT SUM(CASE WHEN Productions = 'Y' THEN 1 ELSE 0 END)
				FROM T1_Control..Calendar c
				WHERE c.[Date] >= x.BecameBODate AND c.[Date] <= COALESCE(x.LeftBODate,CAST(GETDATE() AS DATE)))
FROM J8391_Backorders_v2_Historic_SupplementaryInformation x

UPDATE J8391_Backorders_v2_Historic_SupplementaryInformation
SET
Today_IN = 1,
Today_IN_InsertedDate = CAST(GETDATE() AS DATE) 
WHERE BecameBODate = CAST(GETDATE() AS DATE) 

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
Today_OUT = 1,
Today_OUT_InsertedDate = DATEADD(DAY,-1,CAST(GETDATE() AS DATE)) 
WHERE LeftBODate = CAST(GETDATE() AS DATE)

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
ThisWeek_IN = CASE WHEN BecameBODate >= CAST(DATEADD(WEEK,-1,GETDATE()) AS DATE) THEN 1 END,
ThisMonth_IN = CASE WHEN BecameBODate >= CAST(DATEADD(MONTH,-1,GETDATE()) AS DATE) THEN 1 END,
ThisWeek_OUT = CASE WHEN LeftBODate >= CAST(DATEADD(Week,-1,GETDATE()) AS DATE) THEN 1 END,
ThisMonth_OUT = CASE WHEN LeftBODate >= CAST(DATEADD(MONTH,-1,GETDATE()) AS DATE) THEN 1 END

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
ThisWeek_IN_InsertedDate = y.MaxInsertedDate
FROM J8391_Backorders_v2_Historic_SupplementaryInformation x
LEFT JOIN (	SELECT SO, SOI, MAX(InsertedDate) MaxInsertedDate
			FROM J8391_Backorders_v2_Historic boh
			WHERE boh.InsertedDate >= CAST(DATEADD(Week,-1,GETDATE()) AS DATE)
			AND boh.BOQtyAdj <> 0
			GROUP BY SO, SOI) y
ON y.SO = x.SO AND y.SOI = x.SOI
WHERE ThisWeek_IN = 1

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
ThisMonth_IN_InsertedDate = y.MaxInsertedDate
FROM J8391_Backorders_v2_Historic_SupplementaryInformation x
LEFT JOIN (	SELECT SO, SOI, MAX(InsertedDate) MaxInsertedDate
			FROM J8391_Backorders_v2_Historic boh
			WHERE boh.InsertedDate >= CAST(DATEADD(MONTH,-1,GETDATE()) AS DATE)
			AND boh.BOQtyAdj <> 0
			GROUP BY SO, SOI) y
ON y.SO = x.SO AND y.SOI = x.SOI
WHERE ThisMonth_IN = 1

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
ThisWeek_OUT_InsertedDate = y.MaxInsertedDate
FROM J8391_Backorders_v2_Historic_SupplementaryInformation x
LEFT JOIN (	SELECT SO, SOI, MAX(InsertedDate) MaxInsertedDate
			FROM J8391_Backorders_v2_Historic boh
			WHERE boh.InsertedDate >= CAST(DATEADD(Week,-1,GETDATE()) AS DATE)
			AND boh.BOQtyAdj <> 0
			GROUP BY SO, SOI) y
ON y.SO = x.SO AND y.SOI = x.SOI
WHERE ThisWeek_OUT = 1

UPDATE dbo.J8391_Backorders_v2_Historic_SupplementaryInformation
SET
ThisMonth_OUT_InsertedDate = y.MaxInsertedDate
FROM J8391_Backorders_v2_Historic_SupplementaryInformation x
LEFT JOIN (	SELECT SO, SOI, MAX(InsertedDate) MaxInsertedDate
			FROM J8391_Backorders_v2_Historic boh
			WHERE boh.InsertedDate >= CAST(DATEADD(MONTH,-1,GETDATE()) AS DATE)
			AND boh.BOQtyAdj <> 0
			GROUP BY SO, SOI) y
ON y.SO = x.SO AND y.SOI = x.SOI
WHERE ThisMonth_OUT = 1


















-- Create QlikSense Backorders View. Code for reference
--CREATE VIEW V_J8391_Backorders_v2_QlikSenseOutput
--AS 
--(SELECT CASE WHEN InsertedDate = (SELECT MAX(InsertedDate) FROM T3_OTIF..J8391_Backorders_v2_Historic) THEN 1 END AS TodaysRecord, 
--BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) UnitPrice, mara.Descr, bo.*,
--pca.Level1 ValueStream, pca.Level2 SubStream, pca.PC AS ProfitCentre, pca.PCName AS ProfitCentreName, so.Customer, crn.CustomerReportName, cm.CustomerGroup, cm.CustomerGroupText, mara.RepCon, COALESCE(cf.SupCode,'No Linked Vendor') Vendor, 
--COALESCE(cf.SupName, 'No Linked Vendor') VendorName, COALESCE(cf.OnCustContract,'N') Contracted, mara.SafetyCriticalMarker, OrderType, ItemCategory, CASE WHEN bo.COMarker IN ('CO','PO') THEN 1 ELSE 0 END Obsolete,
--PRReportingStatus, marc.MrpController, marc.MRPControllerName, bo_SuppInfo.BecameBODate, bo_SuppInfo.LeftBODate, bo_SuppInfo.DaysInBO, bo_SuppInfo.WDsInBO,
--[Today_IN]
--,[Today_IN_InsertedDate]
--,[Today_OUT]
--,[Today_OUT_InsertedDate]
--,[ThisWeek_IN]
--,[ThisWeek_IN_InsertedDate]
--,[ThisWeek_OUT]
--,[ThisWeek_OUT_InsertedDate]
--,[ThisMonth_IN]
--,[ThisMonth_IN_InsertedDate]
--,[ThisMonth_OUT]
--,[ThisMonth_OUT_InsertedDate]
--FROM T3_OTIF..J8391_Backorders_v2_Historic bo
--LEFT JOIN J8391_Backorders_v2_Historic_SupplementaryInformation  bo_SuppInfo
--ON bo_SuppInfo.SO = bo.SO AND bo_SuppInfo.SOI = bo.SOI
--LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
--ON bo.SO = so.SalesOrder AND bo.SOI = so.SalesOrderItem
--LEFT JOIN T2_UnipartRail..J0023_ProfitCentreAllocation pca
--ON so.ProfitCentre = RIGHT(CONCAT('00000000',pca.PC),10)
--LEFT JOIN T3_SalesReporting..V_CustRepNameByCustomer crn
--ON crn.Customer = so.Customer
--LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm
--ON so.Customer = cm.Customer
--LEFT JOIN T2_UnipartRail..V_J0001_Material_GeneralMaterialData_MARA mara
--ON mara.Material = so.Material
--LEFT JOIN T3_FinancialPlanning..CostFile cf
--ON cf.CatNo = mara.Material
--LEFT JOIN [T3_Procurement].[dbo].[J8279_WF0003_Purchase_Req_Header] prh
--ON prh.Material = so.Material AND prh.Plant = so.Plant
--LEFT JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc
--ON marc.Material = so.Material AND marc.Plant = so.Plant
--WHERE COALESCE(LineSuppress,0) <> 1
--AND InsertedDate IN (
--SELECT MIN(InsertedDate) x FROM T3_OTIF..J8391_Backorders_v2_Historic GROUP BY YEAR(InsertedDate), MONTH(InsertedDate)
--UNION
--SELECT InsertedDate FROM T3_OTIF..J8391_Backorders_v2_Historic WHERE InsertedDate >= CAST(DATEADD(MONTH,-1,DATEADD(DAY,1-DAY(GETDATE()),GETDATE())) AS DATE))
--AND BOQtyAdj > 0)

























-- Create Power BI Backorders View. Code for reference

--CREATE VIEW V_J8391_Backorders_v2_Historic
--AS
--(SELECT [InsertedDate]
--,[SO]
--,[SOI]
--,bo.[Material]
--,bo.[Plant]
--,[COMarker]
--,[OriginalOTIFDate]
--,[CurrFirstDate]
--,[CurrAckDate]
--,[CurrManufAckDate]
--,[CurrOTIFDateReason]
--,[CurrOTIFDate]
--,so.[OrderQty]
--,[DeliveredQty]
--,[BOQtyAdj] BOQty
--,[BOValueAdj] BOValue
--,[BlockedType]
--,[LineSuppress]
--,[LineSuppressReason]
--,[BOCoverage_AvailStock]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_AvailStock] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_AvailStock
--,[BOCoverage_OverduePOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_OverduePOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_OverduePOs
--,[BOCoverage_QueryPOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_QueryPOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_QueryPOs
--,[BOCoverage_ConfPOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_ConfPOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_ConfPOs
--,[BOCoverage_FuturePOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_FuturePOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_FuturePOs
--,[BOCoverage_OverdueSTOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_OverdueSTOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_OverdueSTOs
--,[BOCoverage_FutureSTOs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_FutureSTOs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_FutureSTOs
--,[BOCoverage_PRs]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_PRs] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_PRs
--,[BOCoverage_ProdOrds]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_ProdOrds] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_ProdOrds
--,[BOCoverage_PlannedOrds]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_PlannedOrds] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_PlannedOrds
--,[BOCoverage_Other]
--,CAST(CASE WHEN COALESCE(BlockedType,'') <> 'Credit Block' THEN [BOCoverage_Other] * CAST(BOValueAdj / (1.0 * NULLIF(BOQtyAdj,0)) AS NUMERIC(13,2)) END AS NUMERIC(13,2)) ValCoverage_Other,
--CONCAT(pca.Level1,' - ', pca.Level2) ValueStream, CONCAT(pca.PC,' - ', pca.PCName) AS ProfitCentre, so.Customer, crn.CustomerReportName, mara.RepCon, CONCAT(COALESCE(cf.SupCode,'No Linked Vendor'),' - ',COALESCE(cf.SupName, 'No Linked Vendor')) Vendor, 
--COALESCE(cf.OnCustContract,'N') Contracted, mara.SafetyCriticalMarker, OrderType, ItemCategory, CASE WHEN cf.Obsolete IS NULL THEN 0 ELSE 1 END Obsolete
--FROM [T3_OTIF].[dbo].[J8391_Backorders_v2_Historic] bo
--LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
--ON bo.SO = so.SalesOrder AND bo.SOI = so.SalesOrderItem
--LEFT JOIN T2_UnipartRail..J0023_ProfitCentreAllocation pca
--ON so.ProfitCentre = RIGHT(CONCAT('00000000',pca.PC),10)
--LEFT JOIN T3_SalesReporting..V_CustRepNameByCustomer crn
--ON crn.Customer = so.Customer
--LEFT JOIN T2_UnipartRail..V_J0001_Material_GeneralMaterialData_MARA mara
--ON mara.Material = so.Material
--LEFT JOIN T3_FinancialPlanning..CostFile cf
--ON cf.CatNo = mara.Material
--WHERE COALESCE(LineSuppress,0) <> 1
--AND COALESCE(LineSuppress,0) <> 1
--AND InsertedDate IN (
--SELECT MIN(InsertedDate) x FROM T3_OTIF..J8391_Backorders_v2_Historic GROUP BY YEAR(InsertedDate), MONTH(InsertedDate)
--UNION
--SELECT InsertedDate FROM T3_OTIF..J8391_Backorders_v2_Historic WHERE InsertedDate >= CAST(DATEADD(MONTH,-1,DATEADD(DAY,1-DAY(GETDATE()),GETDATE())) AS DATE))
--AND BOQtyAdj > 0);



/** Backorders Detail SO column set up info  
Started with:
=if(vInScopeLines = 'Today_FULL', if(TodaysRecord =1, SO),
if(vInScopeLines = 'Today_IN',if(InsertedDate = Today_IN_InsertedDate,SO),
if(vInScopeLines = 'Today_OUT',if(InsertedDate = Today_OUT_InsertedDate,SO),
if(vInScopeLines = 'ThisWeek_IN',if(InsertedDate = ThisWeek_IN_InsertedDate,SO),
if(vInScopeLines = 'ThisWeek_OUT',if(InsertedDate = ThisWeek_OUT_InsertedDate,SO),
if(vInScopeLines = 'ThisMonth_IN',if(InsertedDate = ThisMonth_IN_InsertedDate,SO),
if(vInScopeLines = 'ThisMonth_OUT',if(InsertedDate = ThisMonth_OUT_InsertedDate,SO))))))))

which essentially filters the historic dataset to only return rows I want. I then wanted to combine this with the code block
below to be able to further filter down these lines to show only lines with a non-zero Overdue PO Qty for example

As such I replaced the "SO" at the end of each line with:
if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))

Giving:
=if(vInScopeLines = 'Today_FULL', if(TodaysRecord =1, if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'Today_IN',if(InsertedDate = Today_IN_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'Today_OUT',if(InsertedDate = Today_OUT_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'ThisWeek_IN',if(InsertedDate = ThisWeek_IN_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'ThisWeek_OUT',if(InsertedDate = ThisWeek_OUT_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'ThisMonth_IN',if(InsertedDate = ThisMonth_IN_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))),
if(vInScopeLines = 'ThisMonth_OUT',if(InsertedDate = ThisMonth_OUT_InsertedDate,if(vBOBucket = '_All',SO,
if(vBOBucket = 'SOH',if(BOCoverage_AvailStock > 0,SO),
if(vBOBucket = 'Overdue POs',if(BOCoverage_OverduePOs > 0,SO),
if(vBOBucket = 'Query POs',if(BOCoverage_QueryPOs > 0,SO),
if(vBOBucket = 'Confirmed POs',if(BOCoverage_ConfPOs > 0,SO),
if(vBOBucket = 'Future POs',if(BOCoverage_FuturePOs > 0,SO),
if(vBOBucket = 'Overdue STOs',if(BOCoverage_OverdueSTOs > 0,SO),
if(vBOBucket = 'Future STOs',if(BOCoverage_FutureSTOs > 0,SO),
if(vBOBucket = 'PRs',if(BOCoverage_PRs > 0,SO),
if(vBOBucket = 'Production Orders',if(BOCoverage_ProdOrds > 0,SO),
if(vBOBucket = 'Planned Orders',if(BOCoverage_PlannedOrds > 0,SO),
if(vBOBucket = 'Other',if(BOCoverage_Other > 0,SO),
if(vBOBucket = 'Blocked',if(BlockedType = 'Credit Block',SO),
if(vBOBucket = 'Obsolete',if(Obsolete = 1,SO)))))))))))))))))))))))

If a change needs to be made to this, make the change in the first two blocks and then re-combine to get the above




**/
