USE [T3_ReportingData]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8520_FirstDateAutomation_MAIN]    Script Date: 12/05/2026 07:27:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8520_FirstDateAutomation_MAIN] @Testing INT --SPR_J8520_FirstDateAutomation_MAIN @Testing = 1

AS 

/******************************************************************************** 
*								Notes
*********************************************************************************
*
********************************************************************************/

DECLARE @RuleID INT, @RuleCloseID INT, @RuleUpdateID INT

/******************************************************************************** 
*				Preliminary Steps
********************************************************************************/

IF @Testing IN (1,2)
BEGIN
	DECLARE @StartTime DATETIME = GETDATE()
	DECLARE @Logging TABLE (Step INT, StartTime DATETIME, EndTime DATETIME, ElapsedMS BIGINT, ElapsedS INT, Records INT)
	INSERT INTO @Logging VALUES (0, @StartTime, @StartTime, 0, 0, NULL)
END

IF OBJECT_ID('tempdb..#t') IS NOT NULL DROP TABLE #t SELECT * INTO #t FROM fn_J8520_RulesInsert(-1,0)

TRUNCATE TABLE J8520_FirstDateAutomation_TODAY

DELETE FROM J8520_FirstDateAutomation_TODAY_Historic WHERE CAST(InsertedDate AS DATE) = CAST(GETDATE() AS DATE)

/******************************************************************************** 
*				Rule 100000
********************************************************************************/

--SET @RuleID = 100000

--TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

--INSERT INTO J8520_FirstDateAutomation_TODAY
--SELECT GETDATE(), 'Daily Check', 'Overall or Credit Block', SO, SOI, Date1, Date3, @RuleID, @RuleCloseID, @RuleUpdateID, NULL FROM #t t
--WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

--UPDATE J8520_FirstDateAutomation_TODAY
--SET
--InsertedDate = GETDATE(),
--InsertTrigger = 'Daily Check',
--InsertTrigger_Reason = 'Overall or Credit Block',
--FD_ChangeTo = Date3,
--FD_ChangeReasonRule = @RuleID,
--CloseRule = @RuleCloseID,
--UpdateRule = @RuleUpdateID
--FROM J8520_FirstDateAutomation_TODAY fda
--JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
--WHERE t.Date3 > fda.FD_ChangeTo

--IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 101000
********************************************************************************/

SET @RuleID = 101000
SET @RuleCloseID = 101099
SET @RuleUpdateID = 101050

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Non Contracted Order without MRP 1 Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation / Daily Check',
InsertTrigger_Reason = 'Non Contracted Order without MRP 1 Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 101050
********************************************************************************/

SET @RuleID = 101050
SET @RuleCloseID = 101099
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Update', 'Non Contracted Order without MRP 1 Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Update',
InsertTrigger_Reason = 'Non Contracted Order without MRP 1 Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 101099
********************************************************************************/

SET @RuleID = 101099
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Close', 'Non Contracted Order without MRP 1 Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Close',
InsertTrigger_Reason = 'Non Contracted Order without MRP 1 Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END


/******************************************************************************** 
*				Rule 102000
********************************************************************************/

SET @RuleID = 102000
SET @RuleCloseID = 102099
SET @RuleUpdateID = 102050

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Contracted Non-Stock with no Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation / Daily Check',
InsertTrigger_Reason = 'Contracted Non-Stock with no Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 102050
********************************************************************************/

SET @RuleID = 102050
SET @RuleCloseID = 102099
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Update', 'Contracted Non-Stock with no Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Update',
InsertTrigger_Reason = 'Contracted Non-Stock with no Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 102099
********************************************************************************/

SET @RuleID = 102099
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Close', 'Contracted Non-Stock with no Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Close',
InsertTrigger_Reason = 'Contracted Non-Stock with no Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 103000
********************************************************************************/

SET @RuleID = 103000
SET @RuleCloseID = 103099
SET @RuleUpdateID = 103050

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Customer holding Excess Float', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation / Daily Check',
InsertTrigger_Reason = 'Customer holding Excess Float',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 103050
********************************************************************************/

SET @RuleID = 103050
SET @RuleCloseID = 103099
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Update', 'Customer holding Excess Float', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Update',
InsertTrigger_Reason = 'Customer holding Excess Float',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 103099
********************************************************************************/

SET @RuleID = 103099
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Close', 'Customer holding Excess Float', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Close',
InsertTrigger_Reason = 'Customer holding Excess Float',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 1000
********************************************************************************/

SET @RuleID = 1000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Non Contracted Order with MRP 1 Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'Non Contracted Order with MRP 1 Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END


/******************************************************************************** 
*				Rule 3000
********************************************************************************/

SET @RuleID = 3000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'POA Contracted', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'POA Non-Contracted',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 4000
********************************************************************************/

SET @RuleID = 4000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,0)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'POA Non-Contracted', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'POA Non-Contracted',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 5000
********************************************************************************/

/*
SET @RuleID = 5000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'High Demand', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'High Demand',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date3 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END
*/
/******************************************************************************** 
*				Rule 5001
********************************************************************************/

SET @RuleID = 5001
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'High Demand', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'High Demand',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date3 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 6000
********************************************************************************/

SET @RuleID = 6000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Contracted Non-Stock with Vendor', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'Contracted Non-Stock with Vendor',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule 7000
********************************************************************************/

SET @RuleID = 7000
SET @RuleCloseID = NULL
SET @RuleUpdateID = NULL

TRUNCATE TABLE #t INSERT INTO #t SELECT * FROM fn_J8520_RulesInsert(@RuleID,1)

INSERT INTO J8520_FirstDateAutomation_TODAY
SELECT GETDATE(), 'Order Creation', 'Non-WD Order placed to less than 2WDs', SO, SOI, Date1, Date2, @RuleID, @RuleCloseID, @RuleUpdateID, NULL, NULL, NULL FROM #t t
WHERE NOT EXISTS (SELECT 1 FROM J8520_FirstDateAutomation_TODAY fda WHERE t.SO = fda.SO AND t.SOI = fda.SOI)

UPDATE J8520_FirstDateAutomation_TODAY
SET
InsertedDate = GETDATE(),
InsertTrigger = 'Order Creation',
InsertTrigger_Reason = 'Non-WD Order placed to less than 2WDs',
FD_ChangeTo = Date2,
FD_ChangeReasonRule = @RuleID,
CloseRule = @RuleCloseID,
UpdateRule = @RuleUpdateID
FROM J8520_FirstDateAutomation_TODAY fda
JOIN #t t ON fda.SO = t.SO AND fda.SOI = t.SOI
WHERE t.Date2 > fda.FD_ChangeTo

IF @Testing IN (1,2) BEGIN INSERT INTO @Logging SELECT @RuleID, l.EndTime, GETDATE(), DATEDIFF(MILLISECOND,l.EndTime,GETDATE()), DATEDIFF(SECOND,l.EndTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = (SELECT MAX(Step) FROM @Logging) END

/******************************************************************************** 
*				Rule Adjust
********************************************************************************/

UPDATE J8520_FirstDateAutomation_TODAY
SET
FD_ChangeReasonRule = CASE FD_ChangeReasonRule WHEN 101000 THEN 1000 WHEN 102000 THEN 6000 END,
CloseRule = NULL,
UpdateRule = NULL
FROM J8520_FirstDateAutomation_TODAY fda
JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap ON vbap.VBELN = fda.SO AND vbap.POSNR = fda.SOI
WHERE 1 = 1
AND FD_ChangeReasonRule IN (101000, 102000)
AND EXISTS (	SELECT 1
				FROM T1_MasterData.[DBO].MM_SAP_DS_EORD eord
				WHERE eord.WERKS IN ('DONC','1000','7000','KEYA')
				AND eord.EORTP = '7'
				AND eord.AUTET = '1'
				AND GETDATE() BETWEEN eord.VDATU AND eord.BDATU
				AND eord.MATNR = vbap.MATNR
				AND eord.WERKS <> vbap.WERKS)

UPDATE J8520_FirstDateAutomation_TODAY
SET
FD_ChangeReasonRule = CASE FD_ChangeReasonRule WHEN 101050 THEN 101099 WHEN 102050 THEN 102099 END,
InsertTrigger = 'Close: Exceeded Time',
CloseRule = NULL,
UpdateRule = NULL
FROM J8520_FirstDateAutomation_TODAY fda
WHERE 1 = 1
AND FD_ChangeReasonRule IN (101050, 102050)
AND EXISTS (	SELECT 1
				FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
				WHERE 1 = 1
				AND fda_h.SO = fda.SO
				AND fda_h.SOI = fda.SOI
				AND fda_h.InsertedDate <= DATEADD(MONTH,-1,GETDATE()))

/******************************************************************************** 
*				Line Suppress
********************************************************************************/

UPDATE J8520_FirstDateAutomation_TODAY 
SET LineSuppress = 1, 
LineSuppress_Reason =	CASE
						WHEN vbap.AUART IN ('YSAM','YUVS') THEN vbap.AUART
						WHEN vbap.PSTYV IN ('ZDFS','ZKIH','ZKIC','ZFR1') THEN vbap.PSTYV
						WHEN mbew.[LBKUM] >= vbap.KWMENG AND DATEDIFF(DAY,CAST(GETDATE() AS DATE),fda.FD_ChangeFrom) <= 4 THEN 'Stock to cover Order'
						WHEN vbap.WERKS NOT IN ('DONC','1000','7000','KEYA') THEN 'Plant'
						END
FROM J8520_FirstDateAutomation_TODAY fda 
JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap ON vbap.VBELN = fda.SO AND vbap.POSNR = fda.SOI
JOIN T1_MasterData.dbo.MM_SAP_DS_MARA mara ON vbap.MATNR = mara.MATNR
LEFT JOIN T1_MasterData.dbo.MM_SAP_DS_MBEW mbew ON mbew.MATNR = vbap.MATNR AND mbew.BWKEY = vbap.WERKS
WHERE (	(vbap.AUART IN ('YSAM','YUVS')) OR
		(vbap.PSTYV IN ('ZDFS','ZKIH','ZKIC','ZFR1')) OR
		(mbew.[LBKUM] >= vbap.KWMENG AND DATEDIFF(DAY,CAST(GETDATE() AS DATE),fda.FD_ChangeFrom) <= 4) OR
		(vbap.WERKS NOT IN ('DONC','1000','7000','KEYA')) OR
		(mara.MTART = 'FERT'))
AND InsertTrigger NOT LIKE 'Close%' AND InsertTrigger NOT LIKE 'Update%'

UPDATE J8520_FirstDateAutomation_TODAY SET LineSuppress = 1, LineSuppress_Reason = ls.LineType
FROM J8520_FirstDateAutomation_TODAY fda 
JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap ON vbap.VBELN = fda.SO AND vbap.POSNR = fda.SOI
JOIN J8520_FirstDateAutomation_LineSuppress ls ON ls.LineType = 'Customer' AND ls.Active = 1 AND vbap.KUNNR = ls.Col1
WHERE InsertTrigger NOT LIKE 'Close%' AND InsertTrigger NOT LIKE 'Update%'

UPDATE J8520_FirstDateAutomation_TODAY SET LineSuppress = 1, LineSuppress_Reason = ls.LineType
FROM J8520_FirstDateAutomation_TODAY fda JOIN J8520_FirstDateAutomation_LineSuppress ls ON ls.LineType = 'SalesOrder' AND ls.Active = 1 AND fda.SO = ls.Col1

UPDATE J8520_FirstDateAutomation_TODAY SET LineSuppress = 1, LineSuppress_Reason = ls.LineType
FROM J8520_FirstDateAutomation_TODAY fda JOIN J8520_FirstDateAutomation_LineSuppress ls ON ls.LineType = 'SalesOrderItem' AND ls.Active = 1 AND fda.SO = ls.Col1 AND fda.SOI = ls.Col2

/******************************************************************************** 
*				Final Steps
********************************************************************************/

INSERT INTO J8520_FirstDateAutomation_TODAY_Historic
SELECT GETDATE(), InsertTrigger, InsertTrigger_Reason, SO, SOI, FD_ChangeFrom, FD_ChangeTo, FD_ChangeReasonRule, CloseRule, UpdateRule, Actioned
FROM J8520_FirstDateAutomation_TODAY t
WHERE NOT EXISTS (	SELECT 1
					FROM J8520_FirstDateAutomation_TODAY_Historic h
					WHERE t.SO = h.SO 
					AND t.SOI = h.SOI
					AND CAST(h.InsertedDate AS DATE) = CAST(t.InsertedDate AS DATE))
AND LineSuppress IS NULL
--AND InsertTrigger_Reason = 'High Demand'

IF @Testing IN (1,2) BEGIN 
	INSERT INTO @Logging SELECT 9999999, l.StartTime, GETDATE(), DATEDIFF(MILLISECOND,l.StartTime,GETDATE()), DATEDIFF(SECOND,l.StartTime,GETDATE()), NULL FROM @Logging l WHERE l.Step = 0 
	UPDATE @Logging SET Records = Cnt FROM @Logging l JOIN (SELECT FD_ChangeReasonRule, COUNT(*) Cnt FROM J8520_FirstDateAutomation_TODAY GROUP BY FD_ChangeReasonRule) x ON l.Step = x.FD_ChangeReasonRule
	UPDATE @Logging SET Records = (SELECT COUNT(*) Cnt FROM J8520_FirstDateAutomation_TODAY) WHERE Step = 9999999
END

IF @Testing IN (1,3) BEGIN SELECT * FROM dbo.J8520_FirstDateAutomation_TODAY WHERE InsertTrigger_Reason <> 'Overall or Credit Block' END

IF @Testing IN (1,2) BEGIN SELECT * FROM @Logging END

--SPR_J8520_FirstDateAutomation_MAIN @Testing = 1