USE [T3_ReportingData]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_J8520_RulesInsert]    Script Date: 12/05/2026 07:28:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER FUNCTION [dbo].[fn_J8520_RulesInsert] (@Rule INT, @Logging BIT)

RETURNS @Table TABLE  (	SO VARCHAR(20) NOT NULL, SOI VARCHAR(6) NOT NULL,
						Date1 DATE, Date2 DATE, Date3 DATE, Date4 DATE, Date5 DATE,
						Qty1 NUMERIC(13,2), Qty2 NUMERIC(13,2), Qty3 NUMERIC(13,2), Qty4 NUMERIC(13,2), Qty5 NUMERIC(13,2),
						Text1 VARCHAR(50), Text2 VARCHAR(50), Text3 VARCHAR(50), Text4 VARCHAR(50), Text5 VARCHAR(50))

AS 

BEGIN

/******************************************************************************** 
*				Has MRP 1 Linked Vendor
********************************************************************************/
IF @Rule = 1000
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.SalesOrder, so.SalesOrderItem
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cf.SupCode IS NOT NULL
	AND NOT EXISTS (	SELECT 1
						FROM J8520_ContractedSalesOrders cont
						WHERE cont.SalesOrder = so.SalesOrder AND cont.SalesOrderItem = so.SalesOrderItem)
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 



/******************************************************************************** 
*				POA (Contracted)
********************************************************************************/

IF @Rule = 3000
BEGIN

	INSERT INTO @Table (SO, SOI, Text1, Text2)
	SELECT so.SalesOrder, so.SalesOrderItem, so.Material, so.Plant
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	JOIN T2_UnipartRail..[V_J0041_CustomerGroup/Material] cont
	ON cont.Material = so.Material AND cont.CustomerGroup = cm.CustomerGroup
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cont.Amount = 0
	AND NOT EXISTS (SELECT 1
					FROM J8520_FirstDateAutomation_TODAY_Historic fda
					WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 

/******************************************************************************** 
*				POA (Non-Contracted)
********************************************************************************/

IF @Rule = 4000
BEGIN

	INSERT INTO @Table (SO, SOI, Text1, Text2)
	SELECT so.SalesOrder, so.SalesOrderItem, so.Material, so.Plant
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cf.UnitCost = 0.01
	AND NOT EXISTS (	SELECT 1
						FROM T2_UnipartRail..[V_J0041_CustomerGroup/Material] cont
						WHERE cont.Material = so.Material AND cont.CustomerGroup = cm.CustomerGroup)
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 

/******************************************************************************** 
*				High Demand
********************************************************************************/

IF @Rule = 5001
BEGIN

	DECLARE @OrdersInScope_INITIAL TABLE(	SO VARCHAR(20) NOT NULL,
											SOI VARCHAR(6) NOT NULL,
											Material VARCHAR(20),
											Plant VARCHAR(4),
											CustomerReportName VARCHAR(100),
											LineCreatedDate DATE,
											Qty NUMERIC(13,2),
											LT INT
											PRIMARY KEY (SO,SOI))

	DECLARE @OrdersInScope TABLE (	SO VARCHAR(20) NOT NULL,
									SOI VARCHAR(6) NOT NULL,
									Material VARCHAR(20),
									Plant VARCHAR(4),
									CustomerReportName VARCHAR(100),
									LineCreatedDate DATE,
									Qty NUMERIC(13,2),
									LT INT
									PRIMARY KEY (SO,SOI))

	DECLARE @OrdersInScope_Total TABLE (SO VARCHAR(20) NOT NULL,
										SOI VARCHAR(6) NOT NULL,
										Material VARCHAR(20),
										Plant VARCHAR(4),
										LineCreatedDate DATE,
										Qty NUMERIC(13,2),
										LT INT
										PRIMARY KEY (SO,SOI))

	DECLARE @WorkingTable TABLE (	Material VARCHAR(20) NOT NULL,
									Plant VARCHAR(4) NOT NULL,
									CustomerReportName VARCHAR(100) NOT NULL,
									LT INT,
									LT_1 NUMERIC(13,2),
									LT_2 NUMERIC(13,2),
									LT_3 NUMERIC(13,2),
									LT_4 NUMERIC(13,2),
									LT_5 NUMERIC(13,2),
									Month_1 NUMERIC(13,2),
									Month_2 NUMERIC(13,2),
									Month_3 NUMERIC(13,2),
									Month_4 NUMERIC(13,2),
									Month_5 NUMERIC(13,2),
									Month_6 NUMERIC(13,2),
									T_LT_1 NUMERIC(13,2),
									T_LT_2 NUMERIC(13,2),
									T_LT_3 NUMERIC(13,2),
									T_LT_4 NUMERIC(13,2),
									T_LT_5 NUMERIC(13,2),
									T_Month_1 NUMERIC(13,2),
									T_Month_2 NUMERIC(13,2),
									T_Month_3 NUMERIC(13,2),
									T_Month_4 NUMERIC(13,2),
									T_Month_5 NUMERIC(13,2),
									T_Month_6 NUMERIC(13,2),
									Num_1 NUMERIC(13,3),
									Num_2 NUMERIC(13,3),
									Num_3 NUMERIC(13,3),
									Num_4 NUMERIC(13,3),
									Num_5 NUMERIC(13,3),
									Num_6 NUMERIC(13,3),
									Num_7 NUMERIC(13,3),
									Text1 VARCHAR(30),
									Text2 VARCHAR(30)
									PRIMARY KEY (Material, Plant, CustomerReportName))

	INSERT INTO @OrdersInScope_INITIAL
	SELECT vbap.VBELN SO, vbap.POSNR SOI, vbap.MATNR Material, vbap.WERKS Plant, crn.CustomerReportName, CAST(vbap.VBAP_ERDAT AS DATE) LineCreatedDate, vbap.KWMENG Qty, marc.PlndDelyTime LT
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap
	LEFT JOIN T2_UnipartRail.dbo.V_J0014_CustomerMaster cm ON cm.Customer = vbap.KUNNR
	LEFT JOIN T2_UnipartRail.dbo.V_J0001_Material_PlantDataMaterial_MARC marc ON vbap.MATNR = marc.Material AND vbap.WERKS = marc.Plant
	LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON vbap.KUNNR = crn.Customer
	WHERE 1 = 1
	AND vbap.AUART NOT IN ('YSCH','ZOB1')
	AND vbap.WERKS IN ('DONC','1000','7000','KEYA')
	AND vbap.VBTYP = 'C'
	AND vbap.ABGRU = ''
	AND vbap.MATNR <> ''
	--AND cm.CustomerGroup <> 'TB'
	AND vbap.VBAP_ERDAT >= DATEADD(DAY,-2,GETDATE())
	AND EXISTS (	SELECT 1
					FROM J8520_ContractedSalesOrders cont
					WHERE cont.SalesOrder = vbap.VBELN AND cont.SalesOrderItem = vbap.POSNR)

	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE vbap.VBELN = fda.SO AND vbap.POSNR = fda.SOI)
	AND EXISTS (	SELECT 1
					FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
					WHERE vbbe.VBELN = vbap.VBELN AND vbbe.POSNR = vbap.POSNR)

	DECLARE @MaterialsInScope TABLE (Material VARCHAR(20), Plant VARCHAR(4), CustomerReportName VARCHAR(100), LT INT)
	INSERT INTO @MaterialsInScope SELECT DISTINCT Material, Plant, CustomerReportName, LT FROM @OrdersInScope_INITIAL

	INSERT INTO @OrdersInScope
	SELECT vbap.VBELN SO, vbap.POSNR SOI, vbap.MATNR Material, vbap.WERKS Plant, crn.CustomerReportName, CAST(vbap.VBAP_ERDAT AS DATE) LineCreatedDate, vbap.KWMENG Qty, mis.LT
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap
	LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON vbap.KUNNR = crn.Customer
	JOIN @MaterialsInScope mis ON mis.CustomerReportName = crn.CustomerReportName AND mis.Material = vbap.MATNR AND mis.Plant = vbap.WERKS AND (CAST(vbap.VBAP_ERDAT AS DATE) >= DATEADD(DAY,mis.LT * -5,CAST(GETDATE() AS DATE)) OR CAST(vbap.VBAP_ERDAT AS DATE) >= DATEADD(month,-6,CAST(GETDATE() AS DATE)))
	WHERE 1 = 1
	AND vbap.AUART NOT IN ('YSCH','ZOB1')
	AND vbap.WERKS IN ('DONC','1000','7000','KEYA')
	AND vbap.PSTYV NOT IN ('ZKIH','ZKIC')
	AND vbap.VBTYP = 'C'
	AND vbap.ABGRU = ''
	AND vbap.MATNR <> ''

	INSERT INTO @OrdersInScope_Total
	SELECT vbap.VBELN SO, vbap.POSNR SOI, vbap.MATNR Material, vbap.WERKS Plant, CAST(vbap.VBAP_ERDAT AS DATE) LineCreatedDate, vbap.KWMENG Qty, marc.PlndDelyTime LT
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap
	LEFT JOIN T2_UnipartRail.dbo.V_J0001_Material_PlantDataMaterial_MARC marc ON marc.Material = vbap.MATNR AND marc.Plant = vbap.WERKS
	LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON vbap.KUNNR = crn.Customer
	WHERE 1 = 1
	AND vbap.AUART NOT IN ('YSCH','ZOB1')
	AND vbap.WERKS IN ('DONC','1000','7000','KEYA')
	AND vbap.PSTYV NOT IN ('ZKIH','ZKIC')
	AND vbap.VBTYP = 'C'
	AND vbap.ABGRU = ''
	AND vbap.MATNR <> ''
	AND vbap.VBAP_ERDAT >= CASE WHEN marc.PlndDelyTime < 28 THEN DATEADD(MONTH,-6,GETDATE()) ELSE DATEADD(DAY,marc.PlndDelyTime * -6,GETDATE()) END
	AND EXISTS (SELECT 1 FROM @MaterialsInScope mis WHERE vbap.MATNR = mis.Material)

	;WITH c AS (	SELECT Material, Plant, CustomerReportName, 
					CASE 
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-1 * LT,CAST(GETDATE() AS DATE)) THEN 1
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-2 * LT,CAST(GETDATE() AS DATE)) THEN 2
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-3 * LT,CAST(GETDATE() AS DATE)) THEN 3
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-4 * LT,CAST(GETDATE() AS DATE)) THEN 4
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-5 * LT,CAST(GETDATE() AS DATE)) THEN 5
					ELSE 0
					END LT_Categ,
					CASE 
					WHEN ois.LineCreatedDate >= DATEADD(month,-1,CAST(GETDATE() AS DATE)) THEN 1
					WHEN ois.LineCreatedDate >= DATEADD(month,-2,CAST(GETDATE() AS DATE)) THEN 2
					WHEN ois.LineCreatedDate >= DATEADD(month,-3,CAST(GETDATE() AS DATE)) THEN 3
					WHEN ois.LineCreatedDate >= DATEADD(month,-4,CAST(GETDATE() AS DATE)) THEN 4
					WHEN ois.LineCreatedDate >= DATEADD(month,-5,CAST(GETDATE() AS DATE)) THEN 5
					WHEN ois.LineCreatedDate >= DATEADD(month,-6,CAST(GETDATE() AS DATE)) THEN 6
					ELSE 0
					END Month_Categ, Qty
					FROM @OrdersInScope ois)

	INSERT INTO @WorkingTable (Material, Plant, CustomerReportName, LT, LT_5, LT_4, LT_3, LT_2, LT_1, Month_6, Month_5, Month_4, Month_3, Month_2, Month_1)
	SELECT x.Material, x.Plant, x.CustomerReportName, mis.LT,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.LT_Categ = 5) LT_5,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.LT_Categ = 4) LT_4,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.LT_Categ = 3) LT_3,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.LT_Categ = 2) LT_2,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.LT_Categ = 1) LT_1,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 6) Month_6,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 5) Month_5,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 4) Month_4,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 3) Month_3,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 2) Month_2,
	(SELECT COALESCE(SUM(Qty),1) FROM c WHERE x.Material = c.Material AND x.Plant = c.Plant AND x.CustomerReportName = c.CustomerReportName AND c.Month_Categ = 1) Month_1
	FROM (SELECT DISTINCT Material, Plant, CustomerReportName FROM c) x
	LEFT JOIN @MaterialsInScope mis ON mis.Material = x.Material AND mis.Plant = x.Plant AND mis.CustomerReportName = x.CustomerReportName

	;WITH c AS (	SELECT Material, Plant, 
					CASE 
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-1 * LT,CAST(GETDATE() AS DATE)) THEN 1
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-2 * LT,CAST(GETDATE() AS DATE)) THEN 2
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-3 * LT,CAST(GETDATE() AS DATE)) THEN 3
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-4 * LT,CAST(GETDATE() AS DATE)) THEN 4
					WHEN ois.LineCreatedDate >= DATEADD(DAY,-5 * LT,CAST(GETDATE() AS DATE)) THEN 5
					ELSE 0
					END LT_Categ,
					CASE 
					WHEN ois.LineCreatedDate >= DATEADD(month,-1,CAST(GETDATE() AS DATE)) THEN 1
					WHEN ois.LineCreatedDate >= DATEADD(month,-2,CAST(GETDATE() AS DATE)) THEN 2
					WHEN ois.LineCreatedDate >= DATEADD(month,-3,CAST(GETDATE() AS DATE)) THEN 3
					WHEN ois.LineCreatedDate >= DATEADD(month,-4,CAST(GETDATE() AS DATE)) THEN 4
					WHEN ois.LineCreatedDate >= DATEADD(month,-5,CAST(GETDATE() AS DATE)) THEN 5
					WHEN ois.LineCreatedDate >= DATEADD(month,-6,CAST(GETDATE() AS DATE)) THEN 6
					ELSE 0
					END Month_Categ, Qty
					FROM @OrdersInScope_Total ois)

	UPDATE @WorkingTable
	SET
	T_LT_5 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.LT_Categ = 5),
	T_LT_4 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.LT_Categ = 4),
	T_LT_3 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.LT_Categ = 3),
	T_LT_2 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.LT_Categ = 2),
	T_LT_1 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.LT_Categ = 1),
	T_Month_6 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 6),
	T_Month_5 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 5),
	T_Month_4 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 4),
	T_Month_3 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 3),
	T_Month_2 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 2),
	T_Month_1 = (SELECT COALESCE(SUM(Qty),1) FROM c WHERE wt.Material = c.Material AND wt.Plant = c.Plant AND c.Month_Categ = 1)
	FROM @WorkingTable wt
	LEFT JOIN c ON c.Material = wt.Material AND c.Plant = wt.Plant 


	UPDATE @WorkingTable SET Num_1 = ((5 * LT_2) + (4 * LT_3) + (3 * (LT_4 + LT_5))) / 15.0 WHERE LT > 28
	UPDATE @WorkingTable SET Num_1 = ((5 * Month_2) + (4 * Month_3) + (3 * (Month_4 + Month_5))) / 15.0 WHERE LT <= 28
	UPDATE @WorkingTable SET Num_2 = ((5 * T_LT_2) + (4 * T_LT_3) + (3 * (T_LT_4 + T_LT_5))) / 15.0 WHERE LT > 28
	UPDATE @WorkingTable SET Num_2 = ((5 * T_Month_2) + (4 * T_Month_3) + (3 * (T_Month_4 + T_Month_5))) / 15.0 WHERE LT <= 28

	UPDATE @WorkingTable SET Num_3 = (LT_1 - Num_1) / NULLIF(Num_1,0) WHERE LT > 28
	UPDATE @WorkingTable SET Num_3 = (Month_1 - Num_1) / NULLIF(Num_1,0) WHERE LT <= 28
	UPDATE @WorkingTable SET Num_5 = Num_1 / NULLIF(Num_2,0)
	UPDATE @WorkingTable SET Num_6 = Num_5 * Num_3
	UPDATE @WorkingTable SET Num_7 = Num_6 * CASE WHEN Num_1 <= 1 THEN 0.29 WHEN Num_1 <= 2 THEN 0.4 WHEN Num_1 <= 3 THEN 0.6 WHEN Num_1 <= 4 THEN 0.7 WHEN Num_1 <= 5 THEN 0.9 ELSE 1 END

	UPDATE @WorkingTable SET Text1 = CASE WHEN Num_7 > 0.3 THEN 'Y' END

	INSERT INTO @Table (SO, SOI)
	SELECT ois.SO, ois.SOI
	FROM @OrdersInScope_INITIAL ois
	LEFT JOIN @WorkingTable wt 
	ON wt.Material = ois.Material AND wt.Plant = ois.Plant AND wt.CustomerReportName = ois.CustomerReportName
	WHERE wt.Text1 = 'Y'

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	DELETE FROM @Table WHERE Date1 IS NULL

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END

/******************************************************************************** 
*				Contracted with Non-Stock Policy and a Supplier
********************************************************************************/

IF @Rule = 6000
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.SalesOrder, so.SalesOrderItem
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	JOIN J8520_CustomerContracts cc ON so.Material = cc.Material AND cm.CustomerGroup = cc.CustomerGroup
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cc.CustomerGroup IN ('EM','NE','GN')
	AND cc.ContVCode IN ('D','E','N')
	AND cf.SupCode IS NOT NULL
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 

/******************************************************************************** 
*				Orders placed on a non working day with a First Date less than 2WDs
********************************************************************************/

IF @Rule = 7000
BEGIN

	INSERT INTO @Table (SO, SOI, Date1, Date3)
	SELECT so.SalesOrder, so.SalesOrderItem, fd.EDATU, so.LineCreatedDate
	FROM T2_UnipartRail.dbo.V_J0005_SalesOrders so
	JOIN T2_UnipartRail.dbo.V_Calendar c ON CAST(so.LineCreatedDate AS DATE) = CAST(c.Date AS DATE) AND c.Productions = 'N'
	LEFT JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBEP_FirstDate fd ON fd.VBELN = so.SalesOrder AND fd.POSNR = so.SalesOrderItem
	--JOIN T2_UnipartRail.dbo.V_Calendar c2 ON CAST(fd.EDATU AS DATE) = CAST(c2.Date AS DATE)
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND CAST(so.LineCreatedDate AS DATE) >= CAST(DATEADD(DAY,-1,GETDATE()) AS DATE)
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	;WITH c1 AS (SELECT ROW_NUMBER() OVER(ORDER BY Date) RowNo, CAST(Date AS DATE) DateNo FROM T1_Control.dbo.Calendar WHERE Date BETWEEN DATEADD(MONTH,-1,GETDATE()) AND DATEADD(MONTH,1,GETDATE()) AND Productions = 'Y')
	,c2 AS (SELECT CAST(Date AS DATE) DateNo FROM T1_Control.dbo.Calendar WHERE Date BETWEEN DATEADD(MONTH,-1,GETDATE()) AND DATEADD(MONTH,1,GETDATE()))
	,c3 AS (SELECT c2.DateNo, (SELECT MIN(RowNo) FROM c1 WHERE c1.DateNo >= c2.DateNo) RowNo FROM c2)
	,c4 AS (SELECT c3.DateNo, c1.DateNo WDs FROM c3 JOIN c1 ON c1.RowNo = c3.RowNo + 2)

	UPDATE @Table SET Date2 = c4.WDs FROM @Table t JOIN c4 ON CAST(t.Date3 AS DATE) = c4.DateNo AND t.Date1 <= c4.WDs

	DELETE FROM @Table WHERE Date1 IS NULL OR Date2 IS NULL

END 

/******************************************************************************** 
*				Credit or Overall Block
********************************************************************************/

IF @Rule = 100000
BEGIN
	
	INSERT INTO @Table (SO, SOI, Text1, Text2)
	SELECT so.VBELN, POSNR, so.MATNR, so.WERKS
	FROM T1_Trans_FB..SD_SAP_DS_VBAK_VBAP so
	JOIN T1_Trans_FB..SD_SAP_DS_VBUK vbuk ON vbuk.VBELN = so.VBELN
	WHERE (vbuk.CMGST IN ('C','B') OR vbuk.SPSTG = 'C')
	AND so.PSTYV NOT IN ('ZKIH','ZKIC')
	AND EXISTS (SELECT 1 FROM T3_UnipartRail..J8302_OpenOrders_v3_TEMP oo WHERE oo.SalesOrder = so.VBELN AND oo.SalesOrderItem = so.POSNR)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	DELETE FROM @Table WHERE Date1 IS NULL

	UPDATE @Table SET Date2 = DATEADD(DAY,marc.PlndDelyTime + marc.GrProcTime,CASE WHEN t.Date1 < CAST(GETDATE() AS DATE) THEN CAST(GETDATE() AS DATE) ELSE t.Date1 END)
	FROM @Table t
	JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc
	ON marc.Material = t.Text1 AND marc.Plant = t.Text2

	DELETE FROM @Table WHERE Date1 >= DATEADD(MONTH,1,GETDATE())

	UPDATE @Table SET Date3 = (SELECT MIN(Date) FROM T2_UnipartRail..V_Calendar c WHERE t.Date2 < c.Date AND c.Productions = 'Y') FROM @Table t

	UPDATE @Table SET Date3 = DATEADD(MONTH,1,GETDATE()) WHERE Date3 IS NULL

END

/******************************************************************************** 
*				Does not have a MRP 1 Linked Vendor
********************************************************************************/
IF @Rule = 101000
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.SalesOrder, so.SalesOrderItem
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc ON so.Material = marc.Material AND so.Plant = marc.Plant
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND marc.SpecProcurement NOT IN ('E','X')
	AND so.ItemCategory NOT IN ('ZMTO','ZREP','ZMTX')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cf.SupCode IS NULL
	AND NOT EXISTS (	SELECT 1
						FROM J8520_ContractedSalesOrders cont
						WHERE cont.SalesOrder = so.SalesOrder AND cont.SalesOrderItem = so.SalesOrderItem)
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END

IF @Rule = 101050
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.SalesOrder, so.SalesOrderItem
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 101000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 101099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)
	AND cf.SupCode IS NULL

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END

IF @Rule = 101099
BEGIN

	INSERT INTO @Table (SO, SOI, Qty1)
	SELECT so.SalesOrder, so.SalesOrderItem, marc.GrProcTime + marc.PlndDelyTime
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc ON so.Material = marc.Material AND so.Plant = marc.Plant
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE 1 = 1
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 101000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 101099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)
	AND cf.SupCode IS NOT NULL

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date3 = DATEADD(DAY,Qty1,GETDATE())

	UPDATE @Table SET Date3 = (	SELECT MIN(Date) FROM T2_UnipartRail..V_Calendar c WHERE Date >= Date3 AND c.Productions = 'Y') FROM @Table t

	UPDATE @Table SET Date4 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = CASE WHEN Date3 < Date1 THEN Date3 ELSE Date4 END

	DELETE FROM @Table WHERE Date1 IS NULL

END

/******************************************************************************** 
*				Contracted with Non-Stock Policy and no Supplier
********************************************************************************/

IF @Rule = 102000
BEGIN

	INSERT INTO @Table (SO, SOI, Text1)
	SELECT so.SalesOrder, so.SalesOrderItem, cf.SupCode
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	JOIN J8520_CustomerContracts cc ON so.Material = cc.Material AND cm.CustomerGroup = cc.CustomerGroup
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	WHERE so.DocumentCategory = 'C'
	AND so.RejectionReason = ''
	AND so.ItemCategory NOT IN ('ZKIH','ZKIC')
	AND so.LineCreatedDate >= DATEADD(DAY,-2,GETDATE())
	AND cc.CustomerGroup IN ('EM','NE','GN')
	AND ContVCode IN ('D','E','N')
	AND cf.SupCode IS NULL
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.SalesOrder = fda.SO AND so.SalesOrderItem = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 

IF @Rule = 102050
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.SalesOrder, so.SalesOrderItem
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	WHERE so.DocumentCategory = 'C'
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 102000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 102099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)
	AND cf.SupCode IS NULL

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END

IF @Rule = 102099
BEGIN

	INSERT INTO @Table (SO, SOI, Qty1)
	SELECT so.SalesOrder, so.SalesOrderItem, marc.GrProcTime + marc.PlndDelyTime
	FROM T2_UnipartRail..V_J0005_SalesOrders so
	LEFT JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc ON so.Material = marc.Material AND so.Plant = marc.Plant
	LEFT JOIN T3_FinancialPlanning..CostFile cf ON cf.CatNo = so.Material
	LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm ON cm.Customer = so.Customer
	WHERE 1 = 1
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 102000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.SalesOrder = fda_h.SO
					AND so.SalesOrderItem = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 102099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.SalesOrder AND vbbe.POSNR = so.SalesOrderItem)
	AND cf.SupCode IS NULL

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t
	
	UPDATE @Table SET Date3 = DATEADD(DAY,Qty1,GETDATE())

	UPDATE @Table SET Date3 = (	SELECT MIN(Date) FROM T2_UnipartRail..V_Calendar c WHERE Date >= Date3 AND c.Productions = 'Y') FROM @Table t

	UPDATE @Table SET Date4 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = CASE WHEN Date3 < Date1 THEN Date3 ELSE Date4 END

	DELETE FROM @Table WHERE Date1 IS NULL

END
/******************************************************************************** 
*				Customers holding excess float
********************************************************************************/

IF @Rule = 103000
BEGIN

	DECLARE @Rif_Staging TABLE (	CustomerReportName VARCHAR(50) NOT NULL,
									Material VARCHAR(30) NOT NULL,
									DepotStk NUMERIC(13,2),
									Excess NUMERIC(13,2),
									ShouldHave NUMERIC(13,2),
									ToMoveOut BIT)

	INSERT INTO @Rif_Staging (CustomerReportName, Material, DepotStk, Excess)
	SELECT crn.CustomerReportName, rif.Material, SUM(rif.DepotStk) DepotStk, CASE WHEN SUM(rif.Excess) < 0 THEN 0 ELSE SUM(rif.Excess) END Excess
	FROM T3_Forecasting_TRS.dbo.Rif_Review_DepotStockDetail rif
	LEFT JOIN T3_SalesReporting..V_CustRepNameByCustomer crn 
	ON CASE WHEN LEFT(rif.Cust,2) = 'PP' THEN rif.Cust ELSE RIGHT(CONCAT('0000000',rif.Cust),10) END = crn.Customer
	WHERE crn.CustomerReportName IS NOT NULL
	GROUP BY crn.CustomerReportName, rif.Material
	HAVING SUM(rif.DepotStk) <> 0

	UPDATE @Rif_Staging SET ShouldHave = CASE WHEN DepotStk - Excess = 0 THEN 1 ELSE DepotStk - Excess END

	UPDATE @Rif_Staging
	SET
	ToMoveOut =		CASE 
					WHEN ShouldHave = 1 THEN CASE WHEN DepotStk >= 3 THEN 1 ELSE 0 END
					WHEN ShouldHave = 2 THEN CASE WHEN DepotStk >= 4 THEN 1 ELSE 0 END
					WHEN ShouldHave = 3 THEN CASE WHEN DepotStk >= 6 THEN 1 ELSE 0 END
					WHEN ShouldHave = 4 THEN CASE WHEN DepotStk >= 7 THEN 1 ELSE 0 END
					WHEN ShouldHave = 5 THEN CASE WHEN DepotStk >= 8 THEN 1 ELSE 0 END
					WHEN ShouldHave = 6 THEN CASE WHEN DepotStk >= 9 THEN 1 ELSE 0 END
					WHEN ShouldHave = 7 THEN CASE WHEN DepotStk >= 11 THEN 1 ELSE 0 END
					WHEN ShouldHave = 8 THEN CASE WHEN DepotStk >= 12 THEN 1 ELSE 0 END
					WHEN ShouldHave = 9 THEN CASE WHEN DepotStk >= 13 THEN 1 ELSE 0 END
					WHEN ShouldHave = 10 THEN CASE WHEN DepotStk >= 13 THEN 1 ELSE 0 END
					WHEN ShouldHave > 10 AND ShouldHave <= 20 THEN CASE WHEN (DepotStk - ShouldHave)/ShouldHave >= 0.3 THEN 1 ELSE 0 END
					WHEN ShouldHave > 20 AND ShouldHave <= 30 THEN CASE WHEN (DepotStk - ShouldHave)/ShouldHave >= 0.25 THEN 1 ELSE 0 END
					WHEN (DepotStk - ShouldHave)/ShouldHave >= 0.2 THEN 1
					ELSE 1
					END
	
	DELETE FROM @Rif_Staging WHERE ToMoveOut = 0

	DELETE r FROM @Rif_Staging r
	JOIN T3_Forecasting_TRS.dbo.RIF_Review rr ON rr.Material = r.Material
	WHERE DepotStk / COALESCE(NULLIF((1.0 * TotalFloat),0),1) < 0.15

	INSERT INTO @Table (SO, SOI)
	SELECT so.VBELN, so.POSNR
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP so
	LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON crn.Customer = so.KUNNR
	JOIN @Rif_Staging rif ON rif.CustomerReportName = crn.CustomerReportName AND rif.Material = so.MATNR
	WHERE so.VBTYP = 'C'
	AND so.ABGRU = ''
	AND so.PSTYV NOT IN ('ZKIH','ZKIC')
	AND so.VBAP_ERDAT >= DATEADD(DAY,-2,GETDATE())
	AND EXISTS (SELECT rif.Material FROM @Rif_Staging r WHERE r.Material = so.MATNR)
	AND NOT EXISTS (	SELECT 1
						FROM J8520_FirstDateAutomation_TODAY_Historic fda
						WHERE so.VBELN = fda.SO AND so.POSNR = fda.SOI)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.VBELN AND vbbe.POSNR = so.POSNR)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date2 = Date1 OR Date1 IS NULL

END 

IF @Rule = 103050
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.VBELN, so.POSNR
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP so
	WHERE 1 = 1
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.VBELN = fda_h.SO
					AND so.POSNR = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 103000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.VBELN = fda_h.SO
					AND so.POSNR = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 103099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.VBELN AND vbbe.POSNR = so.POSNR)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date1 IS NULL OR DATEDIFF(DAY,Date1,Date2) <= 5

END 

IF @Rule = 103099
BEGIN

	INSERT INTO @Table (SO, SOI)
	SELECT so.VBELN, so.POSNR
	FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP so
	WHERE 1 = 1
	AND EXISTS (	SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.VBELN = fda_h.SO
					AND so.POSNR = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 103000
					AND CAST(fda_h.InsertedDate AS DATE) <> CAST(GETDATE() AS DATE))
	AND NOT EXISTS (SELECT 1 
					FROM J8520_FirstDateAutomation_TODAY_Historic fda_h
					WHERE so.VBELN = fda_h.SO
					AND so.POSNR = fda_h.SOI
					AND fda_h.FD_ChangeReasonRule = 103099)
	AND EXISTS (		SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_ATP_VBBE vbbe
						WHERE vbbe.VBELN = so.VBELN AND vbbe.POSNR = so.POSNR)

	UPDATE @Table SET Date1 = (SELECT MAX(vbep.EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP_FirstDate vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	UPDATE @Table SET Date2 = (SELECT MAX(EDATU) FROM T1_Trans_FB..SD_SAP_DS_VBEP vbep WHERE vbep.VBELN = t.SO AND vbep.POSNR = t.SOI) FROM @Table t

	DELETE FROM @Table WHERE Date1 IS NULL OR DATEDIFF(DAY,Date1,Date2) > 5

	DELETE FROM @Table WHERE DATEDIFF(DAY,CAST(GETDATE() AS DATE),Date2) > 7

END 

	RETURN -- RETURN @Table

END