USE [T3_IT_Adhoc]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8415_LongRunningSPIDs]    Script Date: 12/05/2026 07:23:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER OFF
GO

ALTER PROCEDURE [dbo].[SPR_J8415_LongRunningSPIDs] 

AS

--------------------------------------------------------------------------------------------------------------------------
/** Execute the sp_whoisactive procedure into a Temp Table **/
--------------------------------------------------------------------------------------------------------------------------

IF OBJECT_ID('tempdb..##WhoIsActive') IS NOT NULL DROP TABLE ##WhoIsActive

DECLARE @s VARCHAR(MAX)

EXEC sp_whoisactive @get_plans = 1, @get_additional_info = 1, @find_block_leaders = 1, @show_own_spid = 1, @return_schema = 1, @schema = @s OUTPUT

SET @s = REPLACE(@s, '<table_name>', '##WhoIsActive')

EXEC(@s)

EXEC sp_WhoIsActive @get_plans = 1, @get_additional_info = 1, @find_block_leaders = 1, @show_own_spid = 1, @destination_table = '##WhoIsActive'

--------------------------------------------------------------------------------------------------------------------------
/** Create working Temp Table and insert relevant info into it from ##WhoIsActive **/
--------------------------------------------------------------------------------------------------------------------------

CREATE TABLE #WhoIsActive2 (	MinsAllowedToRunReason VARCHAR(50),
								MinsAllowedToRun NUMERIC(13,2),
								EmailAddress VARCHAR(MAX),
								LongRunningFlag BIT,
								KillFlag BIT,
								MinsRunning INT,
								session_id INT,
								sql_text XML,
								login_name VARCHAR(200),
								CPU BIGINT,
								tempdb_allocations BIGINT,
								tempdb_current BIGINT,
								reads BIGINT,
								writes BIGINT,
								physical_reads BIGINT,
								host_name VARCHAR(200),
								database_name VARCHAR(200),
								program_name VARCHAR(200),
								start_time DATETIME)

INSERT INTO #WhoIsActive2 (MinsRunning, session_id, sql_text, login_name, CPU, tempdb_allocations, tempdb_current, reads, writes, physical_reads, host_name, database_name, program_name, start_time)
SELECT (CAST(SUBSTRING([dd hh:mm:ss.mss],0,2) AS INT) * 24 * 60 + CAST(SUBSTRING([dd hh:mm:ss.mss],4,2) AS INT) * 60 + CAST(SUBSTRING([dd hh:mm:ss.mss],7,2) AS INT)), session_id, sql_text, login_name,
LTRIM(REPLACE(cpu,',','')), LTRIM(REPLACE(tempdb_allocations,',','')), LTRIM(REPLACE(tempdb_current,',','')), LTRIM(REPLACE(reads,',','')), LTRIM(REPLACE(writes,',','')), 
LTRIM(REPLACE(physical_reads,',','')), host_name, database_name, program_name, start_time
FROM ##WhoIsActive x

--------------------------------------------------------------------------------------------------------------------------
/** Update Working Table with time SPID is allowed to run, and determine which processes to kill **/
--------------------------------------------------------------------------------------------------------------------------

UPDATE #WhoIsActive2
SET
MinsAllowedToRunReason =	CASE 
							--WHEN login_name = 'UNIPARTRAIL\pricegr' THEN 'Greg Test'
							WHEN login_name LIKE 'UNIPARTRAIL\%' AND login_name NOT IN ('UNIPARTRAIL\Administrator','UNIPARTRAIL\DONC_SSIS_J211') THEN 'User'
							WHEN login_name = 'CreweRemoteSQLUser' THEN 'C170 Cross Server'
							WHEN login_name IN ('NT SERVICE\SQLSERVERAGENT','NT Service\MSSQLSERVER') THEN 'J211 Agent'
							WHEN login_name = 'sa' THEN 'sa'
							WHEN login_name = 'NT SERVICE\ReportServer' THEN 'SSRS'
							WHEN login_name = 'UNIPARTRAIL\Administrator' AND program_name = 'QlikView' THEN 'QlikView'
							WHEN login_name = 'UNIPARTRAIL\Administrator' THEN 'Administrator Account Other'
							WHEN login_name = 'UNIPARTRAIL\DONC_SSIS_J211' THEN 'DONC_SSIS_J211'
							WHEN login_name LIKE 'QlikSense%' THEN 'QlikSense'
							--WHEN login_name = 'UNIPARTRAIL\CaveM'  THEN 'AccessDB'
							WHEN program_name = 'Microsoft Office 2013' THEN 'AccessDB'
							WHEN program_name = 'Mashup Engine' THEN 'AccessDB'
							ELSE 'Other'
							END

UPDATE #WhoIsActive2
SET
MinsAllowedToRun =	CASE 
					--WHEN MinsAllowedToRunReason = 'Greg Test' THEN 0
					WHEN MinsAllowedToRunReason IN ('User','Administrator Account Other') THEN 12
					WHEN MinsAllowedToRunReason IN ('J211 Agent','DONC_SSIS_J211','C170 Cross Server') THEN 10
					WHEN MinsAllowedToRunReason = 'QlikView' THEN 15
					WHEN MinsAllowedToRunReason = 'SSRS' THEN 5
					WHEN MinsAllowedToRunReason = 'sa' THEN 600
					WHEN MinsAllowedToRunReason = 'QlikSense' THEN 8
					WHEN MinsAllowedToRunReason = 'AccessDB' THEN 60
					END

--------------------------------------------------------------------------------------------------------------------------
-- Code block to reduce how long SPIDs can run based upon how many killed SPIDs a User has. 
--Trying to avoid Users just running the same code that's been killed without reviewing and trying to improve run time

IF OBJECT_ID('tempdb..#MinusOneWD') IS NOT NULL DROP TABLE #MinusOneWD

;WITH Cal AS (
SELECT Convert (date,[Date],103) As ActualDate, CASE WHEN Productions = 'N' THEN 0 ELSE 1 END AS WD, sum(CASE WHEN Productions = 'N' THEN 0 ELSE 1 END) OVER (ORDER BY [Date]) Total
FROM
[T1_Control].[dbo].[Calendar]
WHERE CAST([Date] AS DATE) BETWEEN DATEADD(MONTH,-1,GETDATE()) AND DATEADD(MONTH,1,GETDATE()))

SELECT Cal1.ActualDate, min(Cal2.ActualDate) AS MinusOneWD
INTO #MinusOneWD
FROM
Cal AS Cal1
JOIN Cal AS Cal2
ON Cal1.Total - 1 = Cal2.Total
GROUP BY Cal1.ActualDate
ORDER BY Cal1.ActualDate

IF OBJECT_ID('tempdb..#SpecificUsers') IS NOT NULL DROP TABLE #SpecificUsers
CREATE TABLE #SpecificUsers (login_name VARCHAR(50) NOT NULL, MinsAllowedToRun numeric(13,2), MinsAllowedToRunReason VARCHAR(50))

INSERT INTO #SpecificUsers VALUES ('UNIPARTRAIL\Sam.Braithwaite',10.0,'Same Qry being ran and killed for ~6 mths')

UPDATE #WhoIsActive2
SET
MinsAllowedToRun =	CASE 
					WHEN COALESCE(su.MinsAllowedToRun,x.MinsAllowedToRun) < COALESCE(x.MinsAllowedToRun / COALESCE((1.0 * y.NoOfKilledSPIDs),1.0),x.MinsAllowedToRun) THEN COALESCE(su.MinsAllowedToRun,x.MinsAllowedToRun)
					ELSE COALESCE(x.MinsAllowedToRun / COALESCE((1.0 * y.NoOfKilledSPIDs),1.0),x.MinsAllowedToRun)
					END
FROM #WhoIsActive2 x
LEFT JOIN (	SELECT login_name, COUNT(*) NoOfKilledSPIDs 
			FROM T3_IT_Adhoc..J8415_LongRunningSPIDs
			WHERE MinsAllowedToRunReason = 'User' 
			AND KillFlag = 1
			AND CAST([Time] AS DATE) >= (SELECT MinusOneWD FROM #MinusOneWD WHERE ActualDate = CAST(GETDATE() AS DATE))
			GROUP BY login_name) y
ON y.login_name = x.login_name
LEFT JOIN #SpecificUsers su
ON x.login_name = su.login_name

--------------------------------------------------------------------------------------------------------------------------

UPDATE #WhoIsActive2
SET
LongRunningFlag = 1
WHERE MinsRunning > MinsAllowedToRun AND (CPU > 60000 OR reads > 10000 OR physical_reads > 1000)

UPDATE #WhoIsActive2
SET
KillFlag = 1
WHERE LongRunningFlag = 1
AND MinsAllowedToRunReason IN ('User','QlikView','QlikSense')
AND session_id NOT IN ('') -- Allow specific SPIDs to run uninterupted upon request from a User
AND login_name NOT IN ('') -- Allow specific Users to run uninterupted upon request

UPDATE #WhoIsActive2
SET
EmailAddress = ad.mail
FROM #WhoIsActive2 x
LEFT JOIN (SELECT LogOnName, mail FROM [T1_ActiveDirectory].[dbo].[ActiveDirectoryUsers]) ad
ON x.login_name = CONCAT('UNIPARTRAIL\',ad.LogOnName)

--------------------------------------------------------------------------------------------------------------------------
/** Cursor through LongRunningFlag = 1 SPIDs and update logging table **/
--------------------------------------------------------------------------------------------------------------------------

DECLARE @SPID INT, @Recipients1 VARCHAR(200), @Qry VARCHAR(MAX), @Qry1 VARCHAR(MAX), @AttachQry VARCHAR(MAX), @AttachQry2 VARCHAR(MAX), @KillFlag BIT, @Subject1 VARCHAR(MAX), @Body1 VARCHAR(MAX)

DECLARE _Cursor CURSOR FOR SELECT session_id FROM #WhoIsActive2 WHERE LongRunningFlag = 1 ORDER BY session_id

OPEN _Cursor

FETCH _Cursor INTO @SPID

WHILE @@FETCH_STATUS = 0
BEGIN

	IF OBJECT_ID('tempdb..#EmailComponents') IS NOT NULL DROP TABLE #Emailcomponents
	IF OBJECT_ID('tempdb..#Temp') IS NOT NULL DROP TABLE #Temp

	SELECT * INTO #Temp FROM #WhoIsActive2 WHERE session_id = @SPID

	ALTER TABLE #Temp
	DROP COLUMN sql_text
	TRUNCATE TABLE J8415_FilteredWhoIsActive
	INSERT INTO J8415_FilteredWhoIsActive SELECT * FROM #Temp

	CREATE TABLE #EmailComponents
	(Recipients1 VARCHAR(MAX),
	Subject1 VARCHAR(MAX),
	Body1 VARCHAR(MAX))

	SET @KillFlag = (SELECT KillFlag FROM #WhoIsActive2 WHERE session_id = @SPID)

	IF @KillFlag = 1
	BEGIN 
		SET @Qry = CONCAT('KILL ',@SPID) 
		EXEC(@Qry)
	END 

	INSERT INTO T3_IT_Adhoc..J8415_LongRunningSPIDs
	SELECT GETDATE(), * FROM #WhoIsActive2 WHERE session_id = @SPID	
	
	INSERT INTO #EmailComponents
	SELECT 
	Recipients1 = CONCAT('database.team@unipartrail.com; ',(SELECT COALESCE(EmailAddress,'') FROM #WhoIsActive2 WHERE session_id = @SPID))
	,Subjects1 = (SELECT CASE WHEN COALESCE(@KillFlag,0) = 1 THEN CONCAT('SPID ',@SPID,' has been Killed - Details attached') WHEN COALESCE(@KillFlag,0) = 0 THEN CONCAT('SPID ',@SPID,' is long running - Details attached') END)
	,Body1 = 'Sent by T3_IT_Adhoc.dbo.SPR_J8415_LongRunningSPIDs'

	SET @Recipients1 = (SELECT Recipients1 FROM #EmailComponents)
	SET @Subject1 = (SELECT Subject1 FROM #EmailComponents)
	SET @Body1 = (SELECT Body1 FROM #EmailComponents)
	SET @Qry1 = 'SELECT * FROM T3_IT_Adhoc.dbo.J8415_FilteredWhoIsActive ORDER BY session_ID'
	
	IF @KillFlag = 1
	BEGIN
		BEGIN TRY
			EXEC msdb.dbo.sp_send_dbmail
			@recipients = @Recipients1, 
			@blind_copy_recipients = 'priceg2898@gmail.com',
			@query = @Qry1,
			@subject = @Subject1,
			@body = @Body1,
			@attach_query_result_as_file = 1,
			@query_attachment_filename = 'Details.csv',
			@query_result_separator = ',',
			@query_result_width = 32767,
			@query_result_no_padding = 1
		END TRY
		BEGIN CATCH 
			SELECT 1
		END CATCH
	END

	SET @Qry = CASE WHEN 1 = 0 THEN '1' END
	TRUNCATE TABLE J8415_FilteredWhoIsActive


	FETCH NEXT FROM _Cursor INTO @SPID

END
CLOSE _Cursor
DEALLOCATE _Cursor

DELETE x1
FROM J8415_LongRunningSPIDs x1
WHERE CAST(Time AS DATE) = CAST(GETDATE() AS DATE)
AND Time <> (	SELECT MAX(time) 
				FROM J8415_LongRunningSPIDs x2 
				WHERE x1.session_id = x2.session_id 
				AND CAST(Time AS DATE) = CAST(GETDATE() AS DATE))
AND x1.KillFlag IS NULL

IF ( (SELECT CAST([LastSent] AS DATE) FROM [T3_IT_Adhoc].[dbo].[J8415_LongRunningEmailLastSent]) = (SELECT CAST(DATEADD(DAY,-1,GETDATE()) AS DATE)) ) 
				AND ((SELECT CAST(GETDATE() AS TIME)) >= '08:00:00')
BEGIN

	IF OBJECT_ID('tempdb..#EmailComponents2') IS NOT NULL DROP TABLE #Emailcomponents2
	IF OBJECT_ID('tempdb..#Temp2') IS NOT NULL DROP TABLE #Temp2

	SELECT * INTO #Temp2 FROM J8415_LongRunningSPIDs WHERE CAST(time AS DATE) = CAST(DATEADD(DAY,-1,GETDATE()) AS Date)

	ALTER TABLE #Temp2
	DROP COLUMN sql_text
	TRUNCATE TABLE J8415_FilteredWhoIsActive2
	
	INSERT INTO J8415_FilteredWhoIsActive2
	SELECT * FROM #Temp2

	CREATE TABLE #EmailComponents2
	(Recipients1 VARCHAR(MAX),
	Subject1 VARCHAR(MAX),
	Body1 VARCHAR(MAX))

	INSERT INTO #EmailComponents2
	SELECT 
	Recipients1 = 'database.team@unipartrail.com; '
	,Subjects1 = 'Summary of the previous day''s long running and/or killed SPIDs' 
	,Body1 = 'Sent by T3_IT_Adhoc.dbo.SPR_J8415_LongRunningSPIDs'

	SET @Recipients1 = (SELECT Recipients1 FROM #EmailComponents2)
	SET @Subject1 = (SELECT Subject1 FROM #EmailComponents2)
	SET @Body1 = (SELECT Body1 FROM #EmailComponents2)
	SET @Qry1 = 'SELECT * FROM T3_IT_Adhoc.dbo.J8415_FilteredWhoIsActive2 ORDER BY session_ID'

	IF (SELECT COUNT(*) FROM T3_IT_Adhoc.dbo.J8415_FilteredWhoIsActive2) > 0
	BEGIN
	BEGIN TRY
		EXEC msdb.dbo.sp_send_dbmail
		@recipients = @Recipients1, 
		@blind_copy_recipients = 'priceg2898@gmail.com',
		@query = @Qry1,
		@subject = @Subject1,
		@body = @Body1,
		@attach_query_result_as_file = 1,
		@query_attachment_filename = 'Details.csv',
		@query_result_separator = ',',
		@query_result_width = 32767,
		@query_result_no_padding = 1

		

	END TRY
	BEGIN CATCH 
		SELECT 1
	END CATCH
	END

UPDATE [T3_IT_Adhoc].[dbo].[J8415_LongRunningEmailLastSent]
SET
LastSent = GETDATE()

END












--SPR_J8415_LongRunningSPIDs
--sp_who2



