USE [T3_MD_Control]
GO
/****** Object:  StoredProcedure [dbo].[SP_J8307_MDFailures]    Script Date: 12/05/2026 07:25:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* =====================================================================================================================================================================
** Author:  	Greg Price
** Create date: 16/04/2023
** Description: Code to flag failures in Master Data.
** 
**************** Change History ****************************************************************************************************************************************
** Date:		Author:				Version:	Helpdesk No:	Description:
** --------		-------				--------	------------	------------------------
************************************************************************************************************************************************************************
======================================================================================================================================================================== */

ALTER PROCEDURE [dbo].[SP_J8307_MDFailures]

AS

DECLARE @Testing AS INT = 0

-- Issue with how Material Plant PKey code integrates with Failure code

--------------------------------------------------------------------------------------------

-- Temporary Truncate
TRUNCATE TABLE J8307_MDFailures

--------------------------------------------------------------------------------------------

INSERT INTO [T3_MD_Control].[dbo].[J8307_MDFailures_Audit] (CheckID, CheckPKey, FailureSQLField, CheckDescription, Date)
SELECT CheckID, CheckPKey, SQLField, CheckDescr, getdate() FROM J8307_MDCheckMaster_v2 WHERE Active = 1 ORDER BY CheckID

--------------------------------------------------------------------------------------------

DECLARE @CodeForCheck AS varchar(max)
DECLARE @CheckID AS varchar(4)
DECLARE @Qry AS varchar(max)
DECLARE @PKey AS varchar(max)
DECLARE @BusinessArea AS varchar(max)
DECLARE @BaseSeverity AS INT
DECLARE @PKeyQryValue AS varchar(max)
DECLARE @SQLField AS varchar(max)
DECLARE @SQLFrom AS varchar(max)
DECLARE @SQLWhere AS varchar(max)
DECLARE @PrioritySQLQry AS varchar(max)

--------------------------------------------------------------------------------------------

DECLARE _Cursor CURSOR FOR 
	SELECT CheckID FROM J8307_MDCheckMaster_v2 WHERE Active = 1 AND FromProcedure = 0 ORDER BY CheckID

OPEN _Cursor

FETCH _Cursor INTO @CheckID

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @PKey = (SELECT CheckPKey FROM J8307_MDCheckMaster_v2 WHERE CheckID = @CheckID)
	SET @SQLField = (SELECT SQLField FROM J8307_MDCheckMaster_v2 WHERE CheckID = @CheckID)
	SET @SQLFrom = (SELECT SQLFrom FROM J8307_MDCheckMaster_v2 WHERE CheckID = @CheckID)
	SET @SQLWhere = (SELECT SQLWhere FROM J8307_MDCheckMaster_v2 WHERE CheckID = @CheckID)
	SET @BaseSeverity = (SELECT BaseSeverity FROM J8307_MDCheckMaster_v2 WHERE CheckID = @CheckID)
	SET @BusinessArea = (SELECT BusinessArea1 FROM J8307_MDCheckMaster_v2 WHERE Active = 1 AND CheckID = @CheckID)
	SET @PrioritySQLQry = (SELECT PrioritySQLQry FROM J8307_MDPKeyMaster WHERE Active = 1 AND PKey = @PKey AND BusinessArea = @BusinessArea)
	SET @PKeyQryValue = (SELECT PKeyQryValue FROM J8307_MDPKeyMaster WHERE PKey = @PKey AND BusinessArea = @BusinessArea)
	
	IF @PrioritySQLQry = '' OR @PrioritySQLQry IS NULL SET @Qry = CONCAT(
	'INSERT INTO J8307_MDFailures ([CheckID],[CheckPKey],[CheckPKeyValue],[FailureSQLField],[FailureValue],[BaseSeverity],[AdjustedSeverity]) 
	SELECT DISTINCT CheckID, CheckPKey, CheckPKeyValue, FailureSQLField, FailureValue, BaseSeverity, BaseSeverity AS AdjustedSeverity
	FROM
	(SELECT ''',@CheckID,''' AS CheckID,''',@PKey,''' AS CheckPKey,',@PKeyQryValue,' AS CheckPKeyValue,''',@SQLField,''' AS FailureSQLField,CAST(',@SQLField,' AS varchar(50)) AS FailureValue, ',@BaseSeverity,' AS BaseSeverity,''',@BusinessArea,''' AS BusinessArea FROM ',@SQLFrom,' 
	WHERE 1=1 AND ',@SQLWhere,') X')
	
	ELSE												SET @Qry = CONCAT(
	';WITH CTE AS (',@PrioritySQLQry,')

	INSERT INTO J8307_MDFailures ([CheckID],[CheckPKey],[CheckPKeyValue],[FailureSQLField],[FailureValue],[BaseSeverity],[AdjustedSeverity]) 
	SELECT DISTINCT CheckID, CheckPKey, CheckPKeyValue, FailureSQLField, FailureValue, BaseSeverity, BaseSeverity + COALESCE(Prio,0) AS AdjustedSeverity
	FROM
	(SELECT ''',@CheckID,''' AS CheckID,''',@PKey,''' AS CheckPKey,',@PKeyQryValue,' AS CheckPKeyValue,''',@SQLField,''' AS FailureSQLField,CAST(',@SQLField,' AS varchar(50)) AS FailureValue, ',@BaseSeverity,' AS BaseSeverity,''',@BusinessArea,''' AS BusinessArea FROM ',@SQLFrom,' 
	WHERE 1=1 AND ',@SQLWhere,') X
	LEFT JOIN CTE ON X.CheckPKeyValue = CTE.',@PKey)

	UPDATE J8307_MDFailures_Audit SET StartTime = getdate() WHERE CheckID = @CheckID AND StartTime IS NULL
	BEGIN TRY
		EXEC(@Qry)
		UPDATE J8307_MDFailures_Audit SET EndTime = getdate(), FailedFlag = 0 WHERE CheckID = @CheckID AND EndTime IS NULL
	END TRY
	BEGIN CATCH
		UPDATE J8307_MDFailures_Audit SET EndTime = getdate(), FailedFlag = 1 WHERE CheckID = @CheckID AND EndTime IS NULL
		print(@Qry)
	END CATCH

	FETCH NEXT FROM _Cursor INTO @CheckID

END
CLOSE _Cursor
DEALLOCATE _Cursor

DECLARE _Cursor CURSOR FOR 
	SELECT CheckID FROM J8307_MDCheckMaster_v2 WHERE Active = 1 AND FromProcedure = 1 ORDER BY CheckID
OPEN _Cursor

FETCH _Cursor INTO @CheckID

WHILE @@FETCH_STATUS = 0
BEGIN
	EXEC SP_J8307_MDFailures_FromProcedure @CheckID

	FETCH NEXT FROM _Cursor INTO @CheckID

END
CLOSE _Cursor
DEALLOCATE _Cursor

UPDATE J8307_MDFailures
SET
FailureSAPField = J8307_MDCheckMaster_v2.SAPField,
FailureSAPTable = J8307_MDCheckMaster_v2.SAPTable
FROM J8307_MDFailures
LEFT JOIN J8307_MDCheckMaster_v2
ON J8307_MDCheckMaster_v2.CheckID = J8307_MDFailures.CheckID

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures_Audit
SET
RunSeconds = DATEDIFF(s,StartTime, EndTime),
RunNo = (SELECT COALESCE(MAX(RunNo),1) FROM J8307_MDFailures_Audit WHERE Date = CAST(GETDATE() AS date))

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures_Audit
SET 
NumRows = COALESCE(Cnt,0)
FROM J8307_MDFailures_Audit
LEFT JOIN (SELECT CheckID, count(*) AS Cnt FROM J8307_MDFailures GROUP BY CheckID) X
ON J8307_MDFailures_Audit.CheckID = X.CheckID
WHERE Date = CAST(GETDATE() AS date) AND NumRows IS NULL

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures
SET
AdjustedSeverity = BaseSeverity
WHERE AdjustedSeverity IS NULL AND FailureDate = CAST(getdate() AS Date)

--------------------------------------------------------------------------------------------
IF @Testing <> 1 BEGIN


MERGE J8307_MDFailures_Historic AS Target
USING J8307_MDFailures AS Source
ON 
	Target.CheckID = Source.CheckID AND 
	Target.CheckPKey = Source.CheckPKey AND 
	Target.CheckPKeyValue = Source.CheckPKeyValue AND 
	Target.FailureSQLField = Source.FailureSQLField AND
	Target.FailureValue = Source.FailureValue

WHEN NOT MATCHED BY Target THEN 
	INSERT ([CheckID],[FailureStatus],[OpenedDate],[CheckPKey],[CheckPKeyValue],[BaseSeverity],[AdjustedSeverity],[FailureSAPTable],[FailureSAPField],[FailureSQLField],[FailureValue])
	VALUES ([CheckID],'Open',getdate(),[CheckPKey],[CheckPKeyValue],[BaseSeverity],[AdjustedSeverity],[FailureSAPTable],[FailureSAPField],[FailureSQLField],[FailureValue])

WHEN MATCHED THEN UPDATE SET
	Target.FailureStatus = 'Open',
	Target.BaseSeverity = Source.BaseSeverity,
	Target.AdjustedSeverity = Source.AdjustedSeverity,
	Target.FailureSAPTable = Source.FailureSAPTable,
	Target.FailureSAPField = Source.FailureSAPField,
	Target.FailureSQLField = Source.FailureSQLField,
	Target.FailureValue = Source.FailureValue

WHEN NOT MATCHED BY Source THEN UPDATE SET
	Target.FailureStatus = 'Closed',
	Target.ClosedDate = getdate();

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures_Historic
SET
ClosedDate = NULL,
FailureStatus = 'CheckID Inactive'
FROM J8307_MDFailures_Historic
JOIN J8307_MDCheckMaster_v2 ON J8307_MDFailures_Historic.CheckID = J8307_MDCheckMaster_v2.CheckID
WHERE J8307_MDCheckMaster_v2.Active = 0 AND ClosedDate = CAST(GETDATE() AS Date)

UPDATE J8307_MDFailures_Historic
SET DaysOpen = CASE wHEN FailureStatus = 'Closed' THEN DATEDIFF(DAY,OpenedDate,ClosedDate) ELSE DATEDIFF(Day,OpenedDate,GETDATE()) END

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures_Historic
SET
BusinessArea1 = J8307_MDCheckMaster_v2.BusinessArea1,
BusinessArea2 = J8307_MDCheckMaster_v2.BusinessArea2
FROM J8307_MDFailures_Historic
LEFT JOIN J8307_MDCheckMaster_v2
ON J8307_MDCheckMaster_v2.CheckID = J8307_MDFailures_Historic.CheckID

--------------------------------------------------------------------------------------------

DECLARE _Cursor CURSOR FOR 
	SELECT DISTINCT CONCAT(CheckPKey,BusinessArea1) FROM J8307_MDCheckMaster_v2 WHERE Active = 1 AND BusinessOwner1 NOT LIKE '%@unipartrail.com%'

OPEN _Cursor

FETCH _Cursor INTO @PKey

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @PKeyQryValue = (SELECT PKeyBusinessOwnerQry FROM J8307_MDPKeyMaster WHERE CONCAT(PKey,BusinessArea) = @PKey)
	SET @Qry = CONCAT('
	;WITH PKeyBusinessOwnerQry AS (',@PKeyQryValue,')

	UPDATE J8307_MDFailures_Historic
	SET 
	BusinessOwner1 = COALESCE(PKeyBusinessOwnerQry.BusinessOwner1,''procurementoperations.doncaster@unipartrail.com'')
	FROM J8307_MDFailures_Historic
	LEFT JOIN PKeyBusinessOwnerQry
	ON J8307_MDFailures_Historic.CheckPKeyValue = PKeyBusinessOwnerQry.PKey AND CONCAT(J8307_MDFailures_Historic.CheckPKey,J8307_MDFailures_Historic.BusinessArea1) = ''',@Pkey,'''
	WHERE PKeyBusinessOwnerQry.PKey IS NOT NULL')

	IF @PKeyQryValue IS NOT NULL AND @PKeyQryValue <> '' BEGIN EXEC(@Qry) END ELSE BEGIN print('') END

	FETCH NEXT FROM _Cursor INTO @PKey
END
CLOSE _Cursor
DEALLOCATE _Cursor

--------------------------------------------------------------------------------------------

UPDATE J8307_MDFailures_Historic
SET
BusinessOwner1 = J8307_MDCheckMaster_v2.BusinessOwner1
FROM J8307_MDFailures_Historic
LEFT JOIN J8307_MDCheckMaster_v2
ON J8307_MDFailures_Historic.CheckID = J8307_MDCheckMaster_v2.CheckID
WHERE J8307_MDCheckMaster_v2.BusinessOwner1 LIKE '%@unipartrail.com%'

--------------------------------------------------------------------------------------------

TRUNCATE TABLE [T3_MD_Control].[dbo].[J8307_MDFailures_DataHealthScore]

INSERT INTO [T3_MD_Control].[dbo].[J8307_MDFailures_DataHealthScore] ([CheckID],[BusinessArea1],[CheckPKey],[SQLField],[Date])

SELECT CheckID, BusinessArea1, CheckPKey, SQLField, GETDATE()
FROM J8307_MDCheckMaster_v2
WHERE Active = 1


DECLARE _Cursor CURSOR FOR 
	SELECT CONCAT(PKey,BusinessArea) FROM J8307_MDPKeyMaster WHERE Active = 1
OPEN _Cursor

FETCH _Cursor INTO @PKey

WHILE @@FETCH_STATUS = 0
BEGIN
	SET @PKeyQryValue = (SELECT TotalInScopeQry FROM J8307_MDPKeyMaster WHERE CONCAT(PKey,BusinessArea) = @PKey)
	BEGIN TRY
	SET @Qry = CONCAT(';WITH CTE AS (',@PKeyQryValue,')

	UPDATE [J8307_MDFailures_DataHealthScore]
	SET
	TotalInScope = Cnt
	FROM [J8307_MDFailures_DataHealthScore]
	LEFT JOIN CTE ON CONCAT([J8307_MDFailures_DataHealthScore].CheckPKey,[J8307_MDFailures_DataHealthScore].BusinessArea1) = ''',@PKey,'''
	WHERE Cnt IS NOT NULL AND Date = CAST(getdate() AS Date)')
	
	EXEC(@Qry)
	END TRY
	BEGIN CATCH
	print(@PKey)
	END CATCH

	FETCH NEXT FROM _Cursor INTO @PKey

END
CLOSE _Cursor
DEALLOCATE _Cursor
END

UPDATE [J8307_MDFailures_DataHealthScore]
SET
TotalFailures = X.Cnt,
T1 = X1.Cnt,
T2 = X2.Cnt,
T3 = X3.Cnt,
T101 = X101.Cnt,
T102 = X102.Cnt,
T103 = X103.Cnt,
T201 = X201.Cnt,
T202 = X202.Cnt,
T203 = X203.Cnt,
T301 = X301.Cnt,
T302 = X302.Cnt,
T303 = X303.Cnt
FROM [J8307_MDFailures_DataHealthScore]
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
GROUP BY CheckID) X
ON [J8307_MDFailures_DataHealthScore].CheckID = X.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 1
GROUP BY CheckID) X1
ON [J8307_MDFailures_DataHealthScore].CheckID = X1.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 2
GROUP BY CheckID) X2
ON [J8307_MDFailures_DataHealthScore].CheckID = X2.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 3
GROUP BY CheckID) X3
ON [J8307_MDFailures_DataHealthScore].CheckID = X3.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 101
GROUP BY CheckID) X101
ON [J8307_MDFailures_DataHealthScore].CheckID = X101.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 102
GROUP BY CheckID) X102
ON [J8307_MDFailures_DataHealthScore].CheckID = X102.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 103
GROUP BY CheckID) X103
ON [J8307_MDFailures_DataHealthScore].CheckID = X103.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 201
GROUP BY CheckID) X201
ON [J8307_MDFailures_DataHealthScore].CheckID = X201.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 202
GROUP BY CheckID) X202
ON [J8307_MDFailures_DataHealthScore].CheckID = X202.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 203
GROUP BY CheckID) X203
ON [J8307_MDFailures_DataHealthScore].CheckID = X203.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 301
GROUP BY CheckID) X301
ON [J8307_MDFailures_DataHealthScore].CheckID = X301.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 302
GROUP BY CheckID) X302
ON [J8307_MDFailures_DataHealthScore].CheckID = X302.CheckID
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity = 303
GROUP BY CheckID) X303
ON [J8307_MDFailures_DataHealthScore].CheckID = X303.CheckID
WHERE Date = CAST(GETDATE() AS date)


UPDATE [J8307_MDFailures_DataHealthScore]
SET
TotalFailuresInScope = Cnt
FROM [J8307_MDFailures_DataHealthScore]
LEFT JOIN 
(SELECT CheckID, COUNT(*) AS Cnt
FROM J8307_MDFailures
WHERE AdjustedSeverity >= 100
GROUP BY CheckID) X
ON [J8307_MDFailures_DataHealthScore].CheckID = X.CheckID
WHERE Date = CAST(GETDATE() AS date)


--------------------------------------------------------------------------------------------
