USE [T3_ReportingData]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8469_OrderbookManagement_V2]    Script Date: 12/05/2026 07:26:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8469_OrderbookManagement_V2]

AS

TRUNCATE TABLE J8469_OrderbookManagement_V2_WorkingTable

INSERT INTO J8469_OrderbookManagement_V2_WorkingTable (SO, SOI, Material, Plant, PlannedDelTime, GRProcTime, InHouseProdTime, SafetyTime, OrderType, ItemCategory, OSValueGBP, Qty2, LastExecuted)
SELECT DISTINCT
oo.SalesOrder, 
oo.SalesOrderItem,  
so.Material, 
so.Plant,
marc.PlndDelyTime,
marc.GrProcTime,
CASE WHEN marc.Specprocurement IN ('E','X') THEN marc.Inhseprodtime ELSE 0 END InHouseProdTime,
CAST(marc.SafetyTime AS INT),
so.OrderType, 
so.ItemCategory,
oo.OSValue,
oo.OSQty,
GETDATE()
FROM (	SELECT SalesOrder, SalesOrderItem, SUM(OSValue) OSValue, SUM(OSQty) OSQty
		FROM T3_UnipartRail..J8302_OpenOrders_v3_TEMP 
		GROUP BY SalesOrder, SalesOrderItem) oo
JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON oo.SalesOrder = so.SalesOrder AND oo.SalesOrderItem = so.SalesOrderItem
JOIN T2_UnipartRail..V_J0001_Material_PlantDataMaterial_MARC marc
ON marc.Material = so.Material AND marc.Plant = so.Plant
LEFT JOIN [T2_UnipartRail].[dbo].[V_J0001_Material_GeneralMaterialData_MARA] MARA 
ON MARA.Material = so.Material
WHERE so.Plant IN ('DONC','1000','7000','KEYA')
AND so.OrderType IN ('YCWA', 'YNOR', 'YSCH', 'YUVS', 'ZWEB')
AND so.ItemCategory NOT IN ('ZDFS','ZMTX','TANN')
AND mara.ItemCatGroup <> 'DIEN'
OPTION (MAXDOP 1)

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
ProdOrd = ppa.RecOrder,
ProdOrdStatus = ppa.ProdStatus,
ProdOrd_SchedStart = ppa.SchedStart1,
ProdOrd_SchedFinish = ppa.SchedFinish,
ProdOrd_ActFinish = ppa.ActualFinish2
FROM J8469_OrderbookManagement_V2_WorkingTable ob
LEFT JOIN T3_Dorman..J8171_Planned_ProductionALL ppa
ON ppa.SalesOrder = ob.SO AND ppa.SalesOrderItem = ob.SOI AND ppa.Plant = ob.Plant

TRUNCATE TABLE T3_OTIF.dbo.J8329_GetOTIFDate_InputTable INSERT T3_OTIF.dbo.J8329_GetOTIFDate_InputTable SELECT DISTINCT SO, SOI FROM J8469_OrderbookManagement_V2_WorkingTable

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
CurrOTIFDateReason = od.OTIFDateReason,
CurrOTIFDate = od.OTIFDate
FROM J8469_OrderbookManagement_V2_WorkingTable obm
LEFT JOIN T3_OTIF.dbo.fn_J8329_OTIFDate(NULL) od ON od.SO = obm.SO AND od.SOI = obm.SOI


UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
CurrOTIFDate = NULL
FROM J8469_OrderbookManagement_V2_WorkingTable wt
JOIN (	SELECT DISTINCT SalesOrder SO, SalesOrderItem SOI, Plant
		FROM T3_Dorman..J8171_Planned_ProductionALL
		WHERE ProdStatus NOT IN ('Comitted to Plan','Complete','In Progress','In Schedule')) ppa
ON wt.SO = ppa.SO AND wt.SOI = ppa.SOI AND wt.Plant = ppa.Plant

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
CurrMaxSchedLineDate = MaxSchedLineDate
FROM J8469_OrderbookManagement_V2_WorkingTable ob
LEFT JOIN (	SELECT SalesOrder SO, SalesOrderItem SOI, max(SchedLineDate) MaxSchedLineDate
			FROM T3_UnipartRail..J8302_OpenOrders_v3_TEMP oo 
			GROUP BY SalesOrder, SalesOrderItem) oo
ON ob.SO = oo.SO AND ob.SOI = oo.SOI
OPTION (MAXDOP 1)

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
CurrMaxSchedLineDate = DeliveryDate
FROM J8469_OrderbookManagement_V2_WorkingTable ob
LEFT JOIN (	SELECT SalesOrder SO, SalesOrderItem SOI, max(DeliveryDate) DeliveryDate 
			FROM T2_UnipartRail..V_J0005_SalesOrders_ScheduleLines sl 
			GROUP BY SalesOrder, SalesOrderItem) sl
ON ob.SO = sl.SO AND ob.SOI = sl.SOI
WHERE CurrMaxSchedLineDate IS NULL
OPTION (MAXDOP 1)

IF OBJECT_ID('tempdb..#Cal') IS NOT NULL DROP TABLE #Cal

SELECT CONVERT(date,[Date],103) As ActualDate, 
CASE WHEN Productions = 'N' THEN 0 ELSE 1 END AS WD, 
sum(CASE WHEN Productions = 'N' THEN 0 ELSE 1 END) OVER (ORDER BY [Date]) Total
INTO #Cal
FROM [T1_Control].[dbo].[Calendar] WHERE Date >= DATEADD(year,-1,(SELECT MIN(CurrOTIFDate) FROM J8469_OrderbookManagement_V2_WorkingTable))

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
MRPDateCutOff = a.X
FROM J8469_OrderbookManagement_V2_WorkingTable wt
LEFT JOIN (	SELECT SO, SOI, X = DATEADD(day,-1 * wt.PlannedDelTime,(	SELECT max(ActualDate) 
																		FROM #Cal 
																		WHERE Total = (	SELECT TOP(1) min(Total) 
																						FROM #Cal 
																						WHERE ActualDate >= wt.CurrOTIFDate) 
																						- wt.GRProcTime 
																						- wt.InHouseProdTime))
			FROM J8469_OrderbookManagement_V2_WorkingTable wt) a
ON wt.SO = a.SO AND wt.SOI = a.SOI

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
DaysBtwnMRPDateCutOffAndToday = DATEDIFF(day,CAST(GETDATE() AS DATE),MRPDateCutOff),
WDsBtwnMRPDateCutOffAndToday = (	SELECT DISTINCT CASE WHEN wt.MRPDateCutOff < CAST(GETDATE() AS DATE) THEN -1 ELSE 1 END * SUM(CASE WHEN Productions = 'Y' THEN 1 ELSE 0 END)
									FROM T1_Control..Calendar c
									WHERE c.[Date] >= CASE WHEN wt.MRPDateCutOff < CAST(GETDATE() AS DATE) THEN wt.MRPDateCutOff ELSE CAST(GETDATE() AS DATE) END
									AND c.[Date] <= CASE WHEN wt.MRPDateCutOff < CAST(GETDATE() AS DATE) THEN CAST(GETDATE() AS DATE) ELSE wt.MRPDateCutOff END)
FROM J8469_OrderbookManagement_V2_WorkingTable wt

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
PRDateCutOff = a.X
FROM J8469_OrderbookManagement_V2_WorkingTable wt
LEFT JOIN (	SELECT SO, SOI, X = DATEADD(day,-1 * wt.PlannedDelTime,(	SELECT max(ActualDate) 
																		FROM #Cal 
																		WHERE Total = (	SELECT TOP(1) min(Total) 
																						FROM #Cal 
																						WHERE ActualDate >= wt.CurrOTIFDate) 
																						- wt.GRProcTime 
																						- wt.InHouseProdTime
																						- wt.SafetyTime))
			FROM J8469_OrderbookManagement_V2_WorkingTable wt) a
ON wt.SO = a.SO AND wt.SOI = a.SOI

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
DaysBtwnPRDateCutOffAndToday = DATEDIFF(day,CAST(GETDATE() AS DATE),PRDateCutOff),
WDsBtwnPRDateCutOffAndToday = (		SELECT DISTINCT CASE WHEN wt.PRDateCutOff < CAST(GETDATE() AS DATE) THEN -1 ELSE 1 END * SUM(CASE WHEN Productions = 'Y' THEN 1 ELSE 0 END)
									FROM T1_Control..Calendar c
									WHERE c.[Date] >= CASE WHEN wt.PRDateCutOff < CAST(GETDATE() AS DATE) THEN wt.PRDateCutOff ELSE CAST(GETDATE() AS DATE) END
									AND c.[Date] <= CASE WHEN wt.PRDateCutOff < CAST(GETDATE() AS DATE) THEN CAST(GETDATE() AS DATE) ELSE wt.PRDateCutOff END)
FROM J8469_OrderbookManagement_V2_WorkingTable wt

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
DeliveredQty = del.ActualDeliveryQty
FROM J8469_OrderbookManagement_V2_WorkingTable ob
LEFT JOIN (	SELECT ReferenceDoc SO, ReferenceItem SOI, SUM(ActualDeliveryQty) ActualDeliveryQty
			FROM T2_UnipartRail..V_J0007_Deliveries del
			GROUP BY ReferenceDoc, ReferenceItem) del
ON ob.SO = del.SO AND ob.SOI = del.SOI
OPTION (MAXDOP 1)

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
MaxActualGIDate = del.MaxActualGIDate
FROM J8469_OrderbookManagement_V2_WorkingTable ob
LEFT JOIN (	SELECT ReferenceDoc SO, ReferenceItem SOI, MAX(ActualGIDate) MaxActualGIDate
			FROM T2_UnipartRail..V_J0007_Deliveries del
			GROUP BY ReferenceDoc, ReferenceItem) del
ON ob.SO = del.SO AND ob.SOI = del.SOI
OPTION (MAXDOP 1)

DELETE x
FROM J8469_OrderbookManagement_V2_WorkingTable x
LEFT JOIN (SELECT SO, count(*) Cnt FROM J8469_OrderbookManagement_V2_WorkingTable WHERE Material <> 'FREI/GHTD' GROUP BY SO) CountOfSOs
ON x.SO = CountOfSOs.SO
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON so.SalesOrder = x.SO AND so.SalesOrderItem = x.SOI
WHERE 
x.ItemCategory NOT IN ('ZKIH','ZKIC')
AND x.Material = 'FREI/GHTD' 
AND COALESCE(CountOfSOs.Cnt,0) = 0

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'No Route, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON x.SO = so.SalesOrder AND x.SOI = so.SalesOrderItem
WHERE COALESCE(ROUTE,'') = ''

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'Incomplete Order, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
WHERE EXISTS (SELECT 1 FROM T2_UnipartRail.dbo.V_J0005_SalesOrdersIncomplete soi WHERE soi.SalesDocument = x.SO AND soi.Item = x.SOI)

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,CASE WHEN vbuk.CMGST = 'B' THEN 'Credit Block, ' END,CASE WHEN vbuk.SPSTG <> '' THEN 'Overall Block, ' END,CASE WHEN so.DeliveryBlock <> '' THEN 'Delivery Block, ' END,CASE WHEN so.BillingBlock <> '' THEN 'Billing Block, ' END)
FROM J8469_OrderbookManagement_V2_WorkingTable x
JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBUK vbuk ON x.SO = vbuk.VBELN
JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON so.SalesOrder = x.SO AND so.SalesOrderItem = x.SOI

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'Obsolete, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
WHERE EXISTS (SELECT 1 FROM T2_UnipartRail.dbo.V_J0001_Material_SalesDataMaterial_MVKE mvke WHERE mvke.Material = x.Material AND mvke.[Dchain-Spec] IN ('AO','PO','CO'))

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'QI or S Blocked Stock, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
WHERE EXISTS (SELECT 1 FROM T2_UnipartRail.dbo.V_J0002_StockInStorageLocation sisl WHERE x.Material = sisl.Material AND x.Plant = sisl.Plant AND (sisl.Blocked > 0 OR sisl.QualityInspection > 0))

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'Missing Gross Weight, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
WHERE EXISTS (SELECT 1 FROM T2_UnipartRail.dbo.V_J0001_Material_GeneralMaterialData_MARA mara WHERE mara.Material = x.Material AND GrossWeight = 0)

UPDATE J8469_OrderbookManagement_V2_WorkingTable
SET
LC_WC4 = CONCAT(LC_WC4,'Order Qty below Customer MOQ, ')
FROM J8469_OrderbookManagement_V2_WorkingTable x
LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON so.SalesOrder = x.SO AND so.SalesOrderItem = x.SOI
JOIN T3_FinancialPlanning.dbo.CostFile cf ON cf.CatNo = x.Material
WHERE COALESCE(cf.UnitCost,0) > 0 AND cf.CustomerMOQ > 1 AND so.OrderQty < cf.CustomerMOQ

TRUNCATE TABLE J8469_OrderbookManagement_V2

INSERT INTO J8469_OrderbookManagement_V2
SELECT DISTINCT SO, SOI, OrderType, ItemCategory, wt.Material, wt.Plant, MRPDateCutOff, PlannedDelTime, GRProcTime, InHouseProdTime, SafetyTime, DaysBtwnMRPDateCutOffAndToday, WDsBtwnMRPDateCutOffAndToday,
PRDateCutOff, DaysBtwnPRDateCutOffAndToday, WDsBtwnPRDateCutOffAndToday, LineValueReason, NetLineValueGBP, OSValueGBP, PRReason, NULL, NULL, NULL, NULL, NULL, ProdOrd, ProdOrdStatus, ProdOrd_SchedStart, ProdOrd_SchedFinish,
ProdOrd_ActFinish, CurrFirstDate, CurrAckDate, CurrOTIFDateReason, CurrOTIFDate, CurrMaxSchedLineDate, MaxActualGIDate, DeliveredQty, Pos_MRPElement, LC_WC2, LC_WC3, LC_WC4, LC_WC5, 
soc.Date, Date2, Date3, Date4, Date5, soc.[MRPElementCovQty], Qty2, Qty3, Qty4, Qty5, LC_LineConfidence, GETDATE(), NULL
FROM J8469_OrderbookManagement_V2_WorkingTable wt
LEFT JOIN J8545_SalesOrderCoverage soc
ON wt.SO = LEFT(soc.MRPElement,10) AND wt.sOI = RIGHT(LEFT(soc.MRPElement,17),6) 

TRUNCATE TABLE J8469_OrderbookManagement_V2_WorkingTable

UPDATE J8469_OrderbookManagement_V2 SET _Hash = 
HASHBYTES(
	'SHA2_256',
    CONCAT(
        SO,
        SOI,
        LC_WC1,
        ProdOrd,
        ProdOrdStatus,
        ProdOrd_SchedStart,
        ProdOrd_SchedFinish,
        CurrOTIFDate,
        LC_WC2,
        LC_WC3,
        LC_WC4,
        LC_WC5))

UPDATE J8469_OrderbookManagement_V2
SET
LineValueReason = 'Sales Order',
NetLineValueGBP = so.NetLineValue * ExchangeRate
FROM J8469_OrderbookManagement_V2 wt
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON wt.SO = so.SalesOrder AND wt.SOI = so.SalesOrderItem
INNER JOIN (SELECT * FROM [T2_UnipartRail].[dbo].[V_J0065_ExchangeRates] WHERE [ToCurrency] = 'GBP' AND ExchangeRateType = 'M') curr ON so.LineCurrency = curr.FromCurrency
WHERE wt.ItemCategory = 'ZKIC' OR so.NetLineValue <> 0

UPDATE J8469_OrderbookManagement_V2
SET
LineValueReason = CASE WHEN COALESCE(cf.UnitCost,0) > 0.01 THEN 'Cost Price' WHEN cf.LastInvoiceUnitCost IS NOT NULL THEN 'Last Invoice' ELSE 'MAP' END,
NetLineValueGBP = OrderQty * (CASE WHEN COALESCE(cf.UnitCost,0) > 0.01 THEN cf.UnitCost WHEN cf.LastInvoiceUnitCost IS NOT NULL THEN cf.LastInvoiceUnitCost ELSE cf.MAP END) * ExchangeRate
FROM J8469_OrderbookManagement_V2 wt
LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
ON so.SalesOrder = wt.SO AND so.SalesOrderItem = wt.SOI
INNER JOIN (SELECT * FROM [T2_UnipartRail].[dbo].[V_J0065_ExchangeRates] WHERE [ToCurrency] = 'GBP' AND ExchangeRateType = 'M') curr ON so.LineCurrency = curr.FromCurrency
LEFT JOIN T3_FinancialPlanning.dbo.CostFile cf
ON cf.CatNo = wt.Material
WHERE wt.LineValueReason IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = CASE WHEN LC_WC1  = '' THEN 'Dependant on SOH' END
WHERE LC_WC5 IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = CASE WHEN po.PurchasingDoc IS NOT NULL THEN 'Dependant on Purchase Order(s)' END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN T2_UnipartRail..V_J0016_PurchasingDocuments po
ON po.PurchasingDoc = LEFT(obm.LC_WC1, CASE WHEN CHARINDEX('/',obm.LC_WC1) = 0 THEN 0 ELSE CHARINDEX('/',obm.LC_WC1) - 1 END) 
	AND po.PurchDocItem = RIGHT(obm.LC_WC1, LEN(obm.LC_WC1) - CHARINDEX('/',obm.LC_WC1))
WHERE LC_WC5 IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = CASE WHEN pr.PurchReq IS NOT NULL THEN 'Dependant on Purchase Req(s)' END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN T2_UnipartRail..V_J0008_PurchaseRequisitions pr
ON LTRIM(RTRIM(pr.PurchReq)) = LEFT(obm.LC_WC1, CASE WHEN CHARINDEX('/',obm.LC_WC1) = 0 THEN 0 ELSE CHARINDEX('/',obm.LC_WC1) - 1 END) 
	AND LTRIM(RTRIM(pr.Item)) = RIGHT(obm.LC_WC1, LEN(obm.LC_WC1) - CHARINDEX('/',obm.LC_WC1))
WHERE LC_WC5 IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = CASE WHEN pl.PlannedOrder IS NOT NULL THEN 'Dependant on Planned Order(s)' END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN T2_UnipartRail..V_J0063_PlannedOrder pl
ON LTRIM(RTRIM(pl.PlannedOrder)) = LEFT(obm.LC_WC1, CASE WHEN CHARINDEX('/',obm.LC_WC1) = 0 THEN 0 ELSE CHARINDEX('/',obm.LC_WC1) - 1 END) 
	AND 'SDeb' = RIGHT(obm.LC_WC1, LEN(obm.LC_WC1) - CHARINDEX('/',obm.LC_WC1))
WHERE LC_WC5 IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = CASE WHEN ppa.RecOrder IS NOT NULL OR ProdOrd IS NOT NULL THEN 'Dependant on Production Order(s)' END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN T3_Dorman..J8171_Planned_ProductionALL ppa
ON ppa.RecOrder = LEFT(obm.LC_WC1, 12)
WHERE LC_WC5 IS NULL

UPDATE dbo.J8469_OrderbookManagement_V2
SET
LC_WC5 =	CASE 
			WHEN LEFT(LC_WC1,3) = '001' THEN 'Dependant on Purchase Req(s)'
			WHEN LEFT(LC_WC1,3) = '003' THEN 'Dependant On Sales Order(s)'
			END
WHERE LC_WC5 IS NULL

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC5 = 'Dependancy Unknown'
FROM J8469_OrderbookManagement_V2 obm
WHERE LC_WC5 IS NULL AND ItemCategory <> 'ZKIH'

;WITH PRApp_PRReason AS (	SELECT DISTINCT x.Material, x.Plant, StuffedPRTestName = STUFF((SELECT LTRIM(RTRIM(REPLACE(PRTestName,CHAR(13),''))) + ', '
																							FROM (	SELECT DISTINCT Material, Plant, PRTestName 
																									FROM [T3_Procurement].[dbo].[J8279_PRTest_Material] prTest
																									LEFT JOIN [T3_Procurement].[dbo].[J8279_PRTest_Description] prTest_Descr1
																									ON PRTest.Test = prTest_Descr1.PRTest) y
																							WHERE x.Material = y.Material
																							AND x.Plant = y.Plant
																							FOR XML PATH('')),1,0,'')
							FROM (	SELECT DISTINCT Material, Plant, PRTestName 
									FROM [T3_Procurement].[dbo].[J8279_PRTest_Material] prTest
									LEFT JOIN [T3_Procurement].[dbo].[J8279_PRTest_Description] prTest_Descr1
									ON PRTest.Test = prTest_Descr1.PRTest) x)
UPDATE J8469_OrderbookManagement_V2
SET
PRReason = COALESCE(pr.StuffedPRTestName,'')
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN PRApp_PRReason pr
ON obm.Material = pr.Material AND obm.Plant = pr.Plant
WHERE obm.LC_WC5 IN ('Dependant on Planned Order(s)','Dependant on Purchase Req(s)')

UPDATE dbo.J8469_OrderbookManagement_V2
SET
PRReason = COALESCE(obm.PRReason, powc.POinforecord)
FROM J8469_OrderbookManagement_V2 obm
JOIN [T3_UnipartRail].[dbo].[V_J8127_PurchaseOrdersWithComments] powc ON powc.PurchasingDoc = LEFT(obm.LC_WC1,10) AND powc.PurchDocItem = RIGHT(LEFT(obm.LC_WC1,16),5) AND COALESCE(powc.POinforecord,'') <> ''

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC2 =	CASE
			WHEN bo.SO IS NOT NULL
			OR CurrMaxSchedLineDate IS NULL
			OR (WDsBtwnMRPDateCutOffAndToday <= 5 AND LC_WC5 = 'Dependant on Purchase Req(s)')
			OR (DATEDIFF(day,CAST(GETDATE() AS DATE),CurrOTIFDate) <= 7 AND LC_WC5 <> 'Dependant on SOH')
			OR (CurrMaxSchedLineDate > CurrOTIFDate)
			OR (CurrMaxSchedLineDate < CAST(GETDATE() AS DATE))
			THEN 'High'
			WHEN (WDsBtwnMRPDateCutOffAndToday <= 20 AND LC_WC5 = 'Dependant on Purchase Req(s)')
			OR (DATEDIFF(day,CAST(GETDATE() AS DATE),CurrOTIFDate) <= 14 AND LC_WC5 <> 'Dependant on SOH')
			OR (WDsBtwnPRDateCutOffAndToday <= 20 AND LC_WC5 = 'Dependant on Planned Order(s)')
			OR LC_WC5 = 'Dependancy Unknown'
			THEN 'Medium'
			ELSE 'Low'
			END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN (SELECT DISTINCT SO, SOI FROM T3_OTIF..J8391_Backorders_Today_v2 WHERE BOQtyAdj > 0) bo
ON obm.SO = bo.SO AND obm.SOI = bo.SOI

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC3 =	CASE
			WHEN bo.SO IS NOT NULL THEN 'Backorder'
			WHEN CurrMaxSchedLineDate IS NULL THEN 'NULL Max Sched Line Date'
			WHEN (CurrMaxSchedLineDate < CAST(GETDATE() AS DATE)) THEN 'Current Max Sched Line Date in Past'
			WHEN (CurrMaxSchedLineDate > CurrOTIFDate) THEN 'Current Max Sched Line Date greater than OTIF Date'
			WHEN (WDsBtwnMRPDateCutOffAndToday <= 5 AND LC_WC5 = 'Dependant on Purchase Req(s)')  THEN 'One Week to MRP Date Cut Off and Dependant on Purchase Reqs'
			WHEN (DATEDIFF(day,CAST(GETDATE() AS DATE),CurrOTIFDate) <= 7 AND LC_WC5 <> 'Dependant on SOH' AND ItemCategory <> 'ZKIH') THEN 'One Week to OTIF Date and not yet dependant on SOH'
			WHEN (WDsBtwnMRPDateCutOffAndToday <= 20 AND LC_WC5 = 'Dependant on Purchase Req(s)') THEN 'One Month to MRP Date Cut Off and Dependant on Purchase Reqs'
			WHEN (DATEDIFF(day,CAST(GETDATE() AS DATE),CurrOTIFDate) <= 14 AND LC_WC5 <> 'Dependant on SOH' AND ItemCategory <> 'ZKIH') THEN 'One Month to OTIF Date and not yet dependant on SOH'
			WHEN (WDsBtwnPRDateCutOffAndToday <= 20 AND LC_WC5 = 'Dependant on Planned Order(s)') THEN 'One Month to PR Date Cut Off and not yet dependant on Purchase Reqs'
			WHEN LC_WC5 = 'Dependancy Unknown' THEN 'Dependancy Unknown'
			ELSE 'OK'
			END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN (SELECT DISTINCT SO, SOI FROM T3_OTIF..J8391_Backorders_Today_v2 WHERE BOQtyAdj > 0) bo
ON obm.SO = bo.SO AND obm.SOI = bo.SOI

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC2 = CASE WHEN kitCompLC_WC1.SO IS NOT NULL THEN 'High' ELSE LC_WC2 END,
LC_WC3 = CASE WHEN kitCompLC_WC1.SO IS NOT NULL AND LC_WC3 = 'OK' THEN 'Kit has High Priority Component(s)' ELSE LC_WC3 END
FROM J8469_OrderbookManagement_V2 obm
LEFT JOIN (	SELECT DISTINCT SO
			FROM J8469_OrderbookManagement_V2 obm
			WHERE ItemCategory = 'ZKIC'
			AND LC_WC2 = 'High') kitCompLC_WC1
ON obm.SO = kitCompLC_WC1.SO
WHERE ItemCategory = 'ZKIH'

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC2 = 'High'
FROM J8469_OrderbookManagement_V2 obm
JOIN (SELECT DISTINCT SO, SOI FROM J8469_OrderbookManagement_V2 obm WHERE LC_WC2 = 'High') obm2
ON obm2.SO = obm.SO AND obm2.SOI = obm.SOI

UPDATE J8469_OrderbookManagement_V2
SET
LC_WC2 = 'Medium'
FROM J8469_OrderbookManagement_V2 obm
JOIN (SELECT DISTINCT SO, SOI FROM J8469_OrderbookManagement_V2 obm WHERE LC_WC2 = 'Medium') obm2
ON obm2.SO = obm.SO AND obm2.SOI = obm.SOI 
WHERE LC_WC2 <> 'High'

UPDATE J8469_OrderbookManagement_V2 SET LC_WC1 = COALESCE(LC_WC1,'')



-- New records
INSERT INTO J8469_OrderbookManagement_SCD2
SELECT 
1 SetByCodeBlock,
GETDATE() EffectiveStartDate,
NULL EffectiveEndDate,
1 IsCurrent,
obm.*
FROM dbo.J8469_OrderbookManagement_V2 obm
LEFT JOIN J8469_OrderbookManagement_SCD2 scd2
ON obm.SO = scd2.SO AND obm.SOI = scd2.SOI AND obm.LC_WC1 = scd2.LC_WC1
WHERE scd2.SO IS NULL

-- Updates to existing records
INSERT INTO J8469_OrderbookManagement_SCD2
SELECT 
3 SetByCodeBlock,
GETDATE() EffectiveStartDate,
NULL EffectiveEndDate,
1 IsCurrent,
obm.*
FROM dbo.J8469_OrderbookManagement_V2 obm
LEFT JOIN J8469_OrderbookManagement_SCD2 scd2
ON obm.SO = scd2.SO AND obm.SOI = scd2.SOI AND obm.LC_WC1 = scd2.LC_WC1
WHERE 1 = 1
AND scd2.SO IS NOT NULL 
AND obm._Hash <> scd2._Hash 
AND scd2.IsCurrent = 1

UPDATE J8469_OrderbookManagement_SCD2
SET
SetByCodeBlock = 2,
EffectiveEndDate = GETDATE(),
IsCurrent = 0
FROM J8469_OrderbookManagement_SCD2 scd2
WHERE 1 = 1
AND scd2.IsCurrent = 1
AND NOT EXISTS (	SELECT 1
					FROM J8469_OrderbookManagement_V2 obm
					WHERE 1 = 1
					AND obm.SO = scd2.SO
					AND obm.SOI = scd2.SOI
					AND obm.LC_WC1 = scd2.LC_WC1
					AND obm._Hash = scd2._Hash)

-- Close out records
UPDATE J8469_OrderbookManagement_SCD2
SET
SetByCodeBlock = 4,
EffectiveEndDate = GETDATE(),
IsCurrent = 0
FROM J8469_OrderbookManagement_SCD2 scd2
WHERE 1 = 1
AND IsCurrent = 1
AND NOT EXISTS (	SELECT 1
					FROM J8469_OrderbookManagement_V2 obm
					WHERE 1 = 1
					AND obm.SO = scd2.SO
					AND obm.SOI = scd2.SOI
					AND obm.LC_WC1 = scd2.LC_WC1)

--SPR_J8469_OrderbookManagement_V2

