USE [T3_OTIF]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8329_OTIF]    Script Date: 12/05/2026 07:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8329_OTIF] AS                                                                                                                                                                                              DECLARE @Testing AS INT = 0

IF OBJECT_ID('tempdb..#MinusOneWD') IS NOT NULL DROP TABLE #MinusOneWD
IF OBJECT_ID('tempdb..#FD_InScope') IS NOT NULL DROP TABLE #FD_InScope
IF OBJECT_ID('tempdb..#Manuf_InScope') IS NOT NULL DROP TABLE #Manuf_InScope
IF OBJECT_ID('tempdb..#ZORD_InScope') IS NOT NULL DROP TABLE #ZORD_InScope
IF OBJECT_ID('tempdb..#InScope') IS NOT NULL DROP TABLE #InScope

TRUNCATE TABLE J8329_OTIF_Today

;WITH Cal AS (	SELECT CONVERT (DATE,[Date],103) AS ActualDate, 
				CASE WHEN Productions = 'N' THEN 0 ELSE 1 END AS WD, 
				SUM(CASE WHEN Productions = 'N' THEN 0 ELSE 1 END) OVER (ORDER BY [Date]) Total
				FROM [T1_Control].[dbo].[Calendar])

SELECT Cal1.ActualDate, min(Cal2.ActualDate) AS MinusOneWD
INTO #MinusOneWD
FROM Cal Cal1 JOIN Cal Cal2 ON Cal1.Total - 1 = Cal2.Total
GROUP BY Cal1.ActualDate

SELECT VBELN, POSNR 
INTO #ZORD_InScope
FROM [T1_Control].[dbo].[J8517_ZORD]
INNER JOIN #MinusOneWD ON #MinusOneWD.ActualDate = CAST(GETDATE() AS date)
WHERE [STATUS] = 'X' AND EDATU = #MinusOneWD.MinusOneWD

SELECT VBELN, POSNR 
INTO #FD_InScope
FROM [T1_Trans_FB].[dbo].SD_SAP_DS_VBEP_FirstDate fd
INNER JOIN #MinusOneWD ON #MinusOneWD.ActualDate = CAST(GETDATE() AS date)
WHERE EDATU = #MinusOneWD.MinusOneWD

SELECT DISTINCT oo.SalesOrder VBELN, oo.SalesOrderItem POSNR
INTO #Manuf_InScope
FROM T3_UnipartRail.dbo.J8302_OpenOrders_v3_TEMP oo
JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
ON so.SalesOrder = oo.SalesOrder AND so.SalesOrderItem = oo.SalesOrderItem
AND so.ItemCategory IN ('ZMTO','ZREP','ZEXC','ZCAL')

SELECT * 
INTO #InScope
FROM (
	SELECT DISTINCT z.VBELN, z.POSNR 
	FROM #ZORD_InScope z
	LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
	ON z.VBELN = so.SalesOrder AND z.POSNR = so.SalesOrderItem
	LEFT JOIN [T2_UnipartRail].[dbo].[V_J0001_Material_GeneralMaterialData_MARA] MARA 
	ON MARA.Material = so.Material
	WHERE so.RejectionReason IN ('','L')
	AND so.DocumentCategory = 'C'
	AND OrderType IN ('YCWA', 'YNOR', 'YSCH', 'YUVS', 'ZWEB')
	AND ItemCategory NOT IN ('ZDFS','ZMTX','TANN','TAD')
	AND ItemCatGroup NOT IN ('DIEN')
	AND so.Plant IN ('DONC','7000','1000','KEYA')
UNION
	SELECT DISTINCT fd.VBELN, fd.POSNR 
	FROM #FD_InScope fd
	LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
	ON fd.VBELN = so.SalesOrder AND fd.POSNR = so.SalesOrderItem
	LEFT JOIN [T2_UnipartRail].[dbo].[V_J0001_Material_GeneralMaterialData_MARA] MARA 
	ON MARA.Material = so.Material
	WHERE so.RejectionReason IN ('','L')
	AND so.DocumentCategory = 'C'
	AND OrderType IN ('YCWA', 'YNOR', 'YSCH', 'YUVS', 'ZWEB')
	AND ItemCategory NOT IN ('ZDFS','ZMTX','TANN','TAD')
	AND ItemCatGroup NOT IN ('DIEN')
	AND so.Plant IN ('DONC','7000','1000','KEYA')
UNION
	SELECT DISTINCT m.VBELN, m.POSNR 
	FROM #Manuf_InScope m
	LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
	ON m.VBELN = so.SalesOrder AND m.POSNR = so.SalesOrderItem
	LEFT JOIN [T2_UnipartRail].[dbo].[V_J0001_Material_GeneralMaterialData_MARA] MARA 
	ON MARA.Material = so.Material
	WHERE so.RejectionReason IN ('','L')
	AND so.DocumentCategory = 'C'
	AND OrderType IN ('YCWA', 'YNOR', 'YSCH', 'YUVS', 'ZWEB')
	AND ItemCategory NOT IN ('ZDFS','ZMTX','TANN','TAD')
	AND ItemCatGroup NOT IN ('DIEN')
	AND so.Plant IN ('DONC','7000','1000','KEYA')) X

DELETE x
FROM #InScope x
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON so.SalesOrder = x.VBELN AND so.SalesOrderItem = x.POSNR
LEFT JOIN T2_UnipartRail..V_J0014_CustomerMaster cm
ON cm.Customer = so.Customer
WHERE CustomerGroupText LIKE 'Heritage%' OR Name1 LIKE 'Heritage%'

TRUNCATE TABLE [dbo].[J8329_GetOTIFDate_InputTable]

INSERT INTO [dbo].[J8329_GetOTIFDate_InputTable] SELECT * FROM #InScope

INSERT INTO J8329_OTIF_Today (SO, SOI, OTIFDateReason, OTIFDate)
SELECT SO, SOI, x.OTIFDateReason, x.OTIFDate 
FROM fn_J8329_OTIFDate(NULL) x 
WHERE OTIFDate IS NOT NULL 
AND OTIFDate = (SELECT MinusOneWD FROM #MinusOneWD WHERE ActualDate = CAST(GETDATE() AS DATE)) 

UPDATE J8329_OTIF_Today
SET
Material = so.Material,
Plant = so.Plant,
SOICreatedDate = so.LineCreatedDate,
OrderQty = so.OrderQty
FROM J8329_OTIF_Today
LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
ON J8329_OTIF_Today.SO = so.SalesOrder AND J8329_OTIF_Today.SOI = so.SalesOrderItem

DELETE FROM J8329_OTIF_Today WHERE (Material LIKE 'FREI/%' OR Material LIKE 'LABO/%' OR Material = '0082/000129' OR Material LIKE 'BILL/PLAN%')

DELETE x 
FROM dbo.J8329_OTIF_Today x
LEFT JOIN dbo.J8329_OTIF_History y
ON x.SO = y.SO AND x.SOI = y.SOI AND y.InsertedDate <> CAST(GETDATE() AS DATE)
WHERE y.SO IS NOT NULL

UPDATE J8329_OTIF_Today
SET 
LineSuppressReason = 'In GP OTIF previously'
FROM J8329_OTIF_Today o
LEFT JOIN J8329_OTIF_History h
ON o.SO = h.SO AND o.SOI = h.SOI AND CAST(GETDATE() AS DATE) > (SELECT MAX(InsertedDate) FROM dbo.J8329_OTIF_History)
WHERE h.SO IS NOT NULL

UPDATE J8329_OTIF_Today SET LineSuppress = 1 WHERE LineSuppressReason IS NOT NULL

;WITH Deliv AS (	SELECT ReferenceDoc, ReferenceItem, sum(ActualDeliveryQty) AS DelivQty
					FROM T2_UnipartRail.dbo.V_J0007_Deliveries Deliv
					INNER JOIN J8329_OTIF_Today X
					ON X.SO = Deliv.ReferenceDoc AND X.SOI = Deliv.ReferenceItem AND CAST(Deliv.ActualGIDate AS date) < X.OTIFDate
					GROUP BY ReferenceDoc, ReferenceItem)

UPDATE J8329_OTIF_Today
SET
[QtyDelivPriorToOTIFDate] = Deliv.DelivQty
FROM J8329_OTIF_Today
LEFT JOIN Deliv 
ON J8329_OTIF_Today.SO = Deliv.ReferenceDoc AND J8329_OTIF_Today.SOI = Deliv.ReferenceItem

IF OBJECT_ID('tempdb..#YUVSSameDayDeliv') IS NOT NULL DROP TABLE #YUVSSameDayDeliv

SELECT SO, SOI
INTO #YUVSSameDayDeliv
FROM J8329_OTIF_Today o
LEFT JOIN T2_UnipartRail..V_J0005_SalesOrders so
ON o.SO = so.SalesOrder AND o.SOI = so.SalesOrderItem
WHERE so.OrderType = 'YUVS'
AND o.FirstDate = CAST(so.LineCreatedDate AS DATE)

;WITH Deliv AS (	SELECT ReferenceDoc, ReferenceItem, sum(ActualDeliveryQty) AS DelivQty
					FROM T2_UnipartRail.dbo.V_J0007_Deliveries Deliv
					JOIN J8329_OTIF_Today X
					ON X.SO = Deliv.ReferenceDoc AND X.SOI = Deliv.ReferenceItem AND CAST(Deliv.ActualGIDate AS date) <= X.OTIFDate
					JOIN #YUVSSameDayDeliv yuvs
					ON x.SO = yuvs.SO AND x.SOI = yuvs.SOI
					GROUP BY ReferenceDoc, ReferenceItem)

UPDATE J8329_OTIF_Today
SET
[QtyDelivPriorToOTIFDate] = Deliv.DelivQty
FROM J8329_OTIF_Today o
LEFT JOIN Deliv 
ON o.SO = Deliv.ReferenceDoc AND o.SOI = Deliv.ReferenceItem
JOIN #YUVSSameDayDeliv yuvs
ON yuvs.SO = o.SO AND yuvs.SOI = o.SOI

UPDATE J8329_OTIF_Today SET OTIFFlag = CASE WHEN QtyDelivPriorToOTIFDate >= OrderQty THEN 1 ELSE 0 END

UPDATE J8329_OTIF_Today
SET
OTIFAdjustReason = 'AOD Kit'
FROM J8329_OTIF_Today
LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
ON so.SalesOrder = J8329_OTIF_Today.SO AND so.SalesOrderItem = J8329_OTIF_Today.SOI
WHERE SO IN (
	SELECT SO
	FROM J8329_OTIF_Today
	WHERE SO IN (
		SELECT DISTINCT SO 
		FROM J8329_OTIF_Today
		LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so
		ON so.SalesOrder = J8329_OTIF_Today.SO AND so.SalesOrderItem = J8329_OTIF_Today.SOI
		WHERE ItemCategory = 'ZKIH') 
	AND OTIFFlag = 0)
AND OTIFAdjustReason IS NULL
AND ItemCategory = 'ZKIH'

UPDATE J8329_OTIF_Today
SET
OTIFAdjustReason = 'Blocked'
FROM J8329_OTIF_Today
LEFT JOIN (
	SELECT SalesOrder, SalesOrderItem 
	FROM [T2_UnipartRail].[dbo].[V_J0005_SalesOrders_Open_BlkStatus]
	WHERE OverallBlkSt <> ''
) Blk ON J8329_OTIF_Today.SO = Blk.SalesOrder AND J8329_OTIF_Today.SOI = Blk.SalesOrderItem
WHERE Blk.SalesOrder IS NOT NULL AND OTIFAdjustReason IS NULL

--UPDATE J8329_OTIF_Today
--SET
--OTIFAdjustReason = 'Northern FTP Issue'
--FROM J8329_OTIF_Today o
--LEFT JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON so.SalesOrder = o.SO AND so.SalesOrderItem = o.SOI
--LEFT JOIN T3_SalesReporting.dbo.V_CustRepNameByCustomer crn ON crn.Customer = so.Customer
--WHERE crn.CustomerReportName = 'Northern Rail'

UPDATE J8329_OTIF_Today
SET
OTIFAdjustedFlag = CASE WHEN OTIFAdjustReason IN ('Created Date', 'Blocked','Northern FTP Issue') AND OTIFFlag = 0 THEN 1 WHEN OTIFAdjustReason IN ('AOD Kit') AND OTIFFlag = 1 THEN 0 ELSE OTIFFlag END

IF (SELECT top(1) InsertedDate FROM [J8329_OTIF_History] WHERE InsertedDate = CAST(getdate() AS date)) IS NULL
BEGIN
	INSERT INTO [J8329_OTIF_History] ([InsertedDate],[SO],[SOI],[Plant],[Material],[SOICreatedDate] ,[FirstDate],[AckDate],[OTIFDateReason],[OTIFDate],[OrderQty],[QtyDelivPriorToOTIFDate],[OTIFFlag],[OTIFAdjustReason],[OTIFAdjustedFlag],[LR1],[LR2],[LR3],[LR4],[LR5],[LRAdjustReason],[LRAdjusted],[LineSuppressReason],[LineSuppress])
	(SELECT getdate(), * FROM J8329_OTIF_Today WHERE LineSuppress IS NULL)
END