USE [T3_ReportingData]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8492_ProcurementOrderbookManagement]    Script Date: 12/05/2026 07:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8492_ProcurementOrderbookManagement] 

AS

EXEC SPR_J8492_OpenPurchaseOrders
EXEC SPR_J8492_OpenSTOs

TRUNCATE TABLE J8492_ProcurementOrderbookManagement_IMPORT

INSERT INTO J8492_ProcurementOrderbookManagement_IMPORT (	LineType,
															OrderNo,
															OrderLine,
															SchedLine,
															DocType,
															ActAssCat,
															Material, 
															Plant,
															OSQty,
															OSValue,
															Date1,
															Date2,
															Date3,
															Date4,
															Date5,
															Qty1,
															Qty2,
															Qty3,
															DeliveredQty,
															Text1)
SELECT 'PO', PO, POI, SL, DocType, AcctAssCat, Material, Plant, OutstandingQty, OSValue, 
StatDelDate Date1, DeliveryDate Date2, ConfirmedDate Date3, ReportingDate_GRProcTime Date4, ReportingDate Date5,
ScheduleQty Qty1, ConfirmedQty Qty2, ConfirmedRef Qty3, DeliveredQty,
OrderAck Text1
FROM [T3_ReportingData].[dbo].[J8492_OpenPurchaseOrders]

INSERT INTO J8492_ProcurementOrderbookManagement_IMPORT (	LineType,
															OrderNo,
															OrderLine,
															SchedLine,
															DocType,
															Material, 
															Plant,
															SupplyingPlant,
															Date4,
															Date5,
															Qty1,
															Qty2,
															DeliveredQty,
															Text1)
SELECT 'STO', PO, POI, SL, DocType, Material, ToPlant, FromPlant,
StatDelDate Date1, DeliveryDate Date2,
ScheduleQty Qty1, ReceiptedQty Qty2, DeliveredQty,
OrderAck Text1
FROM [T3_ReportingData].[dbo].[J8492_OpenSTOs]

INSERT INTO J8492_ProcurementOrderbookManagement_IMPORT (	LineType,
															OrderNo,
															OrderLine,
															SchedLine,
															DocType,
															Material, 
															Plant,
															Date4,
															Date5,
															Qty1,
															Text1)
SELECT 'PR' LineType, PurchReq, Item, '', DocType, Material, Plant, ReqDate, DelDate, QtyRequested, RFQ_Status
FROM T2_UnipartRail..V_J0008_PurchaseRequisitions_Open
WHERE DelInd <> 'X' AND PO = '' 


INSERT INTO J8492_ProcurementOrderbookManagement_IMPORT (	LineType,
															OrderNo,
															OrderLine,
															SchedLine,
															DocType,
															Material, 
															Plant,
															Date4,
															Date5,
															Qty1,
															Text1)
SELECT 'PlOrd' LineType, PlannedOrder, '', '', OrderType, Material, ProducingPlant Plant, OrderStart Date1, 
OrderFinish Date2, OrderQuantity Qty1, Procurement Text1
FROM T2_UnipartRail..V_J0063_PlannedOrder

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
OSValue = Qty1 * COALESCE(mbew.TotalValue / NULLIF(mbew.TotalStock,0), MovingPrice/NULLIF(PriceUnit,0)),
OSQty = Qty1
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
LEFT JOIN T2_UnipartRail..V_J0001_Material_MaterialValuation_MBEW mbew
ON mbew.Material = obm.Material AND mbew.ValuationArea = obm.Plant
WHERE LineType <> 'PO'

IF OBJECT_ID('tempdb..#MD04ExceptionReasons') IS NOT NULL DROP TABLE #MD04ExceptionReasons

CREATE TABLE #MD04ExceptionReasons (Exception INT, ExceptionMessage VARCHAR(100))

INSERT INTO #MD04ExceptionReasons VALUES (69,'Recursive BOM components possible')
INSERT INTO #MD04ExceptionReasons VALUES (42,'Order proposal has been changed')
INSERT INTO #MD04ExceptionReasons VALUES (44,'Order proposal re-exploded')

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
MD04ExcepMsg = md04Excep.ExceptionMessage,
MD04ExcepDate = CAST(CASE WHEN RESCHED_DATE = '00000000' THEN NULL ELSE DATEFROMPARTS(LEFT(md04.RESCHED_DATE,4),RIGHT(LEFT(md04.RESCHED_DATE,6),2),RIGHT(md04.RESCHED_DATE,2)) END AS DATE)
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
LEFT JOIN T1_Trans_FB..md04 md04
ON md04.ELEMNT_DATA = CONCAT(OrderNo,'/',OrderLine)
LEFT JOIN #MD04ExceptionReasons md04Excep
ON md04.EXCMESSAGE = md04Excep.Exception

EXEC SPR_J8545_SalesOrderCoverage

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
Date6 = COALESCE(soc.OTIFDate, soc.Date)
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
JOIN (	SELECT LEFT(soc.Pos_MRPElement,10) OrderNo, RIGHT(LEFT(soc.Pos_MRPElement,16),5) OrderLine, MIN(OTIFDateMinusGR) OTIFDate, MIN(Date) Date
		FROM J8545_SalesOrderCoverage soc
		GROUP BY LEFT(soc.Pos_MRPElement,10), RIGHT(LEFT(soc.Pos_MRPElement,16),5)) soc
ON obm.OrderNo = soc.OrderNo AND obm.OrderLine = soc.OrderLine
WHERE LineType IN ('PO','STO','PR')

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
Date6 = COALESCE(soc.OTIFDate, soc.Date)
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
JOIN (	SELECT LEFT(soc.Pos_MRPElement,10) OrderNo, RIGHT(LEFT(soc.Pos_MRPElement,16),5) OrderLine, MIN(OTIFDateMinusGR) OTIFDate, MIN(Date) Date
		FROM J8545_SalesOrderCoverage soc
		GROUP BY LEFT(soc.Pos_MRPElement,10), RIGHT(LEFT(soc.Pos_MRPElement,16),5)) soc
ON obm.OrderNo = soc.OrderNo
WHERE LineType IN ('PlOrd')

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
Text5 = MRPElement
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
JOIN J8545_SalesOrderCoverage soc
ON obm.OrderNo = LEFT(Pos_MRPElement,10) AND obm.OrderLine = RIGHT(LEFT(Pos_MRPElement,16),5) AND obm.Date6 = COALESCE(soc.OTIFDateMinusGR, soc.Date)
WHERE LineType IN ('PO','STO','PR')

UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
Text5 = MRPElement
FROM J8492_ProcurementOrderbookManagement_IMPORT obm
JOIN J8545_SalesOrderCoverage soc
ON obm.OrderNo = LEFT(Pos_MRPElement,10) AND obm.Date6 = COALESCE(soc.OTIFDateMinusGR, soc.Date)
WHERE LineType IN ('PlOrd')

;WITH PRApp_PRReason AS (	SELECT DISTINCT x.Material, x.Plant, StuffedPRTestName = STUFF((SELECT LTRIM(RTRIM(REPLACE(PRTestName,CHAR(13),''))) + ', '
																							FROM (	SELECT DISTINCT Material, Plant, PRTestName 
																									FROM [T3_Procurement].[dbo].[J8279_PRTest_Material] prTest
																									LEFT JOIN [T3_Procurement].[dbo].[J8279_PRTest_Description] prTest_Descr1
																									ON PRTest.Test = prTest_Descr1.PRTest) y
																							WHERE x.Material = y.Material
																							AND x.Plant = y.Plant
																							FOR XML PATH('')),1,0,'')
							FROM (	SELECT DISTINCT Material, Plant, PRTestName 
									FROM [T3_Procurement].[dbo].[J8279_PRTest_Material] prTest
									LEFT JOIN [T3_Procurement].[dbo].[J8279_PRTest_Description] prTest_Descr1
									ON PRTest.Test = prTest_Descr1.PRTest) x)
UPDATE J8492_ProcurementOrderbookManagement_IMPORT
SET
Text2 = COALESCE(pr.StuffedPRTestName,'')
FROM J8492_ProcurementOrderbookManagement_IMPORT pom
LEFT JOIN PRApp_PRReason pr
ON pom.Material = pr.Material AND pom.Plant = pr.Plant
WHERE LineType IN ('PR','PlOrd')

UPDATE dbo.J8492_ProcurementOrderbookManagement
SET
Text2 = powc.POinforecord
FROM J8492_ProcurementOrderbookManagement pom
JOIN [T3_UnipartRail].[dbo].[V_J8127_PurchaseOrdersWithComments] powc ON powc.PurchasingDoc = pom.OrderNo AND powc.PurchDocItem = pom.OrderLine AND COALESCE(powc.POinforecord,'') <> ''

UPDATE J8492_ProcurementOrderbookManagement
SET
Text3 = it.Description
FROM J8492_ProcurementOrderbookManagement pom
LEFT JOIN T2_UnipartRail.dbo.V_J0001_Material_InspectionText it ON it.Material = pom.Material AND it.Plant = pom.Plant

TRUNCATE TABLE J8492_ProcurementOrderbookManagement

INSERT INTO J8492_ProcurementOrderbookManagement
SELECT * FROM J8492_ProcurementOrderbookManagement_IMPORT

TRUNCATE TABLE J8492_ProcurementOrderbookManagement_IMPORT

SELECT * FROM J8492_ProcurementOrderbookManagement
WHERE LineType = 'PO' 
AND text2 IS NOT null

--[SPR_J8492_ProcurementOrderbookManagement]