USE [T3_ReportingData]
GO
/****** Object:  StoredProcedure [dbo].[SPR_J8545_SalesOrderCoverage]    Script Date: 12/05/2026 07:27:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [dbo].[SPR_J8545_SalesOrderCoverage]

AS

IF OBJECT_ID('tempdb..#MD04') IS NOT NULL DROP TABLE #MD04
IF OBJECT_ID('tempdb..#Pos') IS NOT NULL DROP TABLE #Pos
IF OBJECT_ID('tempdb..#Neg') IS NOT NULL DROP TABLE #Neg
IF OBJECT_ID('tempdb..#Neg_Covered') IS NOT NULL DROP TABLE #Neg_Covered
IF OBJECT_ID('tempdb..#Temp') IS NOT NULL DROP TABLE #Temp

/*
Problem where there are some POs with multiple lines, I think due to to multiple confirmations.
This is leading to duplication flowing through to the Orderbook Management when it adds no additional value or context there.

This was the existing code block. I'm changing this to be an insert to a skeleton table with updates to give a PKey of Material, Plant and ELEMENT_DATA
I'll update the SortCol and MD04Date with the Max of these columns

SELECT DISTINCT md04.Material Material, md04.Plant Plant, 
CAST(md04.AVAIL_DATE AS DATE) MD04Date, 
md04.MRP_ELEMNT RowType, md04.ELEMNT_DATA RowValue, CAST(md04.REC_REQD_QTY AS NUMERIC(13,2)) RowQty,
CAST(INT_TABLE_IND1 AS BIGINT) SortCol
INTO #MD04
FROM T1_Trans_FB..MD04 md04
WHERE (MRP_ELEMNT = 'Stock' OR md04.REC_REQD_QTY <> 0)
*/

SELECT DISTINCT 
	md04.Material Material, 
	md04.Plant Plant, 
	CAST(NULL AS DATE) MD04Date, 
	CAST(NULL AS VARCHAR(20)) RowType, 
	md04.ELEMNT_DATA RowValue, 
	CAST(NULL AS NUMERIC(13,2)) RowQty, 
	CAST(NULL AS BIGINT) SortCol
INTO #MD04
FROM T1_Trans_FB..MD04 md04
WHERE (MRP_ELEMNT = 'Stock' OR md04.REC_REQD_QTY <> 0)

UPDATE #MD04
SET
MD04Date = (	SELECT MAX(md04.AVAIL_DATE)
				FROM T1_Trans_FB..MD04 md04
				WHERE 1 = 1
				AND m.Material = md04.Material
				AND m.Plant = md04.Plant
				AND m.RowValue = md04.ELEMNT_DATA),
RowQty = (	SELECT SUM(md04.REC_REQD_QTY)
			FROM T1_Trans_FB..MD04 md04
			WHERE 1 = 1
			AND m.Material = md04.Material
			AND m.Plant = md04.Plant
			AND m.RowValue = md04.ELEMNT_DATA),
SortCol = (	SELECT MAX(md04.INT_TABLE_IND1)
			FROM T1_Trans_FB..MD04 md04
			WHERE 1 = 1
			AND m.Material = md04.Material
			AND m.Plant = md04.Plant
			AND m.RowValue = md04.ELEMNT_DATA),
RowType = (	SELECT TOP 1 md04.MRP_ELEMNT
			FROM T1_Trans_FB..MD04 md04
			WHERE 1 = 1
			AND m.Material = md04.Material
			AND m.Plant = md04.Plant
			AND m.RowValue = md04.ELEMNT_DATA
			ORDER BY AVAIL_DATE)
FROM #MD04 m

UPDATE #MD04
SET
MD04Date = COALESCE(AFKO.GLTRI, AFPO.DGLTS, AFPO.DGLTP, M.MD04Date)
FROM #MD04 m
JOIN T1_Trans_FB.[DBO].PP_SAP_DS_AFKO afko ON LEFT(m.RowValue,12) = afko.AUFNR
JOIN T1_Trans_FB.[DBO].PP_SAP_DS_AFPO afpo ON afko.AUFNR = afpo.AUFNR
WHERE m.RowType = 'PrdOrd'

UPDATE #MD04 
SET 
SortCol =	CASE 
			WHEN RowQty > 0 THEN 
					CASE
					WHEN RowType IN ('Stock','ShipNt','ShLine','PrdOrd') THEN SortCol
					WHEN RowType IN ('PurRqs') THEN SortCol + 1000
					WHEN RowType IN ('Pl.ord') THEN SortCol + 2000
					ELSE SortCol + 4000
					END
			WHEN RowQty <= 0 THEN
					CASE 
					WHEN RowType IN ('IndReq') THEN SortCol + 1000
					ELSE SortCol
					END
			ELSE SortCol
			END

CREATE CLUSTERED INDEX CI_Material_Plant ON #MD04 (Material, Plant, SortCol)

DELETE m FROM #MD04 m
WHERE 1 = 1
AND RowType = 'SafeSt'
AND EXISTS (	SELECT 1
				FROM #MD04 m2
				WHERE 1 = 1
				AND m.Material = m2.Material
				AND m.Plant = m2.Plant
				AND m2.RowType = 'IndReq')

CREATE TABLE #Pos (	RowNo INT NOT NULL,
					Material VARCHAR(20) NOT NULL,
					Plant VARCHAR(4) NOT NULL,
					SortOrder INT,
					Date DATE,
					MRPElement VARCHAR(30),
					MRPElement_Qty NUMERIC(13,2),
					MRPElement_OSQty NUMERIC(13,2)
					PRIMARY KEY (RowNo, Material, Plant))

CREATE TABLE #Neg (	RowNo INT NOT NULL,
					Material VARCHAR(20) NOT NULL,
					Plant VARCHAR(4) NOT NULL,
					SortOrder BIGINT,
					Date DATE,
					OTIFDate DATE,
					MRPElement VARCHAR(30),
					MRPElement_Qty NUMERIC(13,2),
					MRPElement_OSQty NUMERIC(13,2)
					PRIMARY KEY (Material, Plant, RowNo))

CREATE TABLE #Neg_Covered (	Material VARCHAR(20) NOT NULL,
							Plant VARCHAR(4) NOT NULL,
							PosSortOrder BIGINT NOT NULL,
							Pos_MRPElement VARCHAR(50),
							Pos_Date DATE,
							MRPElement VARCHAR(30),
							Date DATE,
							MRPElementCovQty NUMERIC(13,2))

CREATE NONCLUSTERED INDEX NCI ON #Neg (MRPElement_OSQty)

CREATE TABLE #Temp (	RowNo INT NOT NULL,
						Material VARCHAR(20) NOT NULL,
						Plant VARCHAR(4) NOT NULL,
						MRPElement VARCHAR(30),
						Date DATE,
						NegOSQty NUMERIC(13,2),
						SortOrder BIGINT,
						Pos_OSQty NUMERIC(13,2),
						Pos_Date DATE,
						Qty NUMERIC(13,2)
						PRIMARY KEY (Material, Plant, RowNo))

INSERT INTO #Pos
SELECT ROW_NUMBER() OVER(PARTITION BY Material, Plant ORDER BY SortCol), Material, Plant, SortCol, MD04Date, RowValue, RowQty, RowQty
FROM #MD04
WHERE RowQty > 0

UPDATE #Pos SET Date = '1901-01-01' WHERE SortOrder = 1 AND MRPElement = ''

INSERT INTO #Neg
SELECT ROW_NUMBER() OVER(PARTITION BY Material, Plant ORDER BY SortCol), Material, Plant, SortCol, MD04Date, NULL, RowValue, ABS(RowQty), ABS(RowQty)
FROM #MD04
WHERE RowQty < 0

UPDATE #Neg SET OTIFDate = bo.CurrOTIFDate
FROM #Neg n
JOIN T3_OTIF.dbo.J8391_Backorders_Today_v2 bo ON bo.SO = LEFT(n.MRPElement,10) AND bo.SOI = RIGHT(LEFT(n.MRPElement,17),6)
WHERE bo.BOQtyAdj > 0

UPDATE #Neg
SET
Date = DATEADD(DAY,(p.MRPElement_Qty * marc.PlndDelyTime) / n.MRPElement_Qty,GETDATE())
FROM #Neg n
JOIN T2_UnipartRail.dbo.V_J0001_Material_PlantDataMaterial_MARC marc ON marc.Material = n.Material AND marc.Plant = n.Plant
JOIN #Pos p ON n.Material = p.Material AND n.Plant = p.Plant AND p.MRPElement = ''
WHERE n.MRPElement = 'Safety Stock'

UPDATE #Neg SET Date = OTIFDate WHERE OTIFDate IS NOT NULL

;WITH	c2 AS (	SELECT Date, ROW_NUMBER() OVER(ORDER BY Date) RowNo
				FROM T2_UnipartRail.dbo.V_Calendar
				WHERE 1 = 1
				AND Date BETWEEN DATEADD(YEAR,-2,GETDATE()) AND DATEADD(YEAR,2,GETDATE())
				AND Productions = 'Y'),
		c3 AS (	SELECT	cal.Date, 
						MaxWD = (	SELECT MAX(Date)
									FROM c2
									WHERE c2.Date <= cal.Date),
						MaxRowNo = (SELECT MAX(c2.RowNo)
									FROM c2
									WHERE c2.Date <= cal.Date)
				FROM T2_UnipartRail.dbo.V_Calendar cal
				WHERE Date BETWEEN DATEADD(YEAR,-2,GETDATE()) AND DATEADD(YEAR,2,GETDATE()))

UPDATE #Neg
SET
Date = (	SELECT CAST(c2.Date AS DATE) WD
			FROM c3 
			CROSS APPLY c2 
			WHERE c3.Date = n.Date AND c2.RowNo - c3.MaxRowNo = -1 * marc.GRProcTime)
FROM #Neg n
JOIN T2_UnipartRail.dbo.V_J0001_Material_PlantDataMaterial_MARC marc ON marc.Material = n.Material AND marc.Plant = n.Plant
WHERE n.MRPElement = 'Safety Stock'

UPDATE #Neg SET Date = GETDATE() WHERE MRPElement = 'Safety Stock' AND Date < CAST(GETDATE() AS DATE)

;WITH cte AS (	SELECT Material, Plant, RowNo, ROW_NUMBER() OVER(PARTITION BY Material, Plant ORDER BY Date) RowNoNew 
				FROM #Neg n
				WHERE NOT EXISTS (	SELECT 1
									FROM #Neg n2
									WHERE 1 = 1
									AND n.Material = n2.Material
									AND n.Plant = n2.Plant
									AND n2.MRPElement = 'VSF'))

UPDATE #Neg SET RowNo = c.RowNoNew
FROM #Neg n
JOIN cte c ON c.Material = n.Material AND c.Plant = n.Plant AND n.RowNo = c.RowNo

INSERT INTO #Temp 
SELECT n.RowNo, n.Material, n.Plant, n.MRPElement, n.Date, n.MRPElement_OSQty, p.SortOrder, p.MRPElement_OSQty, p.Date, n.MRPElement_OSQty
FROM #Neg n
LEFT JOIN T1_Trans_FB.[DBO].PP_SAP_DS_AFPO afpo ON n.MRPElement = CONCAT(afpo.KDAUF,'/',afpo.KDPOS,'/',afpo.KDEIN)
LEFT JOIN #Pos p ON LEFT(p.MRPElement,12) = afpo.AUFNR
WHERE p.MRPElement IS NOT NULL

DELETE n 
FROM #Neg n 
JOIN #Temp t ON t.Material = n.Material AND t.Plant = n.Plant AND t.RowNo = n.RowNo

DELETE p
FROM #Pos p 
JOIN #Temp t ON t.Material = p.Material AND t.Plant = p.Plant AND t.SortOrder = p.SortOrder

INSERT INTO #Neg_Covered SELECT Material, t.Plant, t.SortOrder, NULL, t.Pos_Date, t.MRPElement, t.Date, t.Qty FROM #Temp t

TRUNCATE TABLE #Temp

DECLARE @PosMaxRowNo INT = (SELECT MAX(RowNo) FROM #Pos)
DECLARE @PosRowNo INT = 0

WHILE @PosRowNo < 60--@PosMaxRowNo

BEGIN

	SET @PosRowNo += 1	
		
	;WITH 
		c1 AS (	SELECT n.RowNo, n.Material, n.Plant, n.MRPElement, n.Date, n.MRPElement_OSQty NegOSQty, p.SortOrder, p.MRPElement_OSQty Pos_OSQty, p.Date Pos_Date, --NULL--,n.MRPElement_OSQty - p.MRPElement_OSQty Qty 
				SUM(n.MRPElement_OSQty) OVER (PARTITION BY n.Material, n.Plant ORDER BY n.RowNo) Qty
				FROM #Neg n JOIN #Pos p ON p.Material = n.Material AND p.Plant = n.Plant AND p.RowNo = @PosRowNo),
		c2 AS (	SELECT c1.RowNo, c1.Material, c1.Plant, c1.MRPElement, c1.Date, c1.NegOSQty, c1.SortOrder, c1.Pos_OSQty, c1.Pos_Date, CASE WHEN c1.Qty < c1.Pos_OSQty THEN c1.NegOSQty ELSE NegOSQty + c1.Pos_OSQty - Qty END DistributedQty
				FROM c1)
	
	INSERT INTO #Temp SELECT * FROM c2 WHERE c2.DistributedQty > 0

	UPDATE #Neg
	SET 
	MRPElement_OSQty = n.MRPElement_OSQty - t.Qty
	FROM #Neg n
	JOIN #Temp t
	ON t.Material = n.Material AND t.Plant = n.Plant AND n.RowNo = t.RowNo

	DELETE FROM #Neg WHERE MRPElement_OSQty = 0

	INSERT INTO #Neg_Covered SELECT Material, t.Plant, t.SortOrder, NULL, t.Pos_Date, t.MRPElement, t.Date, t.Qty FROM #Temp t

	TRUNCATE TABLE #Temp

END

CREATE CLUSTERED INDEX CI ON #Neg_Covered (Material, Plant, PosSortOrder)

UPDATE #Neg_Covered 
SET
Pos_MRPElement = m.RowValue
FROM #Neg_Covered n
LEFT JOIN #MD04 m
ON n.Material = m.Material AND n.Plant = m.Plant AND n.PosSortOrder = m.SortCol

TRUNCATE TABLE J8545_SalesOrderCoverage

;WITH cte AS (
	SELECT 
	Material, Plant, PosSortOrder, Pos_MRPElement, Pos_Date, 
	--MRPElement, 
	CASE 
		WHEN EXISTS (	SELECT 1
						FROM T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap
						WHERE 1 = 1
						AND vbap.VBELN = LEFT(MRPElement,10)
						AND vbap.POSNR = RIGHT(LEFT(MRPElement,17),6))
		THEN LEFT(MRPElement,17)
		ELSE MRPElement
	END MRPElement,
	Date, MRPElementCovQty
	FROM #Neg_Covered)

INSERT INTO J8545_SalesOrderCoverage (Material, Plant, PosSortOrder, Pos_MRPElement, Pos_Date, MRPElement, Date, MRPElementCovQty)
SELECT Material, Plant, PosSortOrder, Pos_MRPElement, Pos_Date, MRPElement, MAX(Date) Date, SUM(cte.MRPElementCovQty) MRPElementCovQty
FROM cte 
GROUP BY Material, Plant, PosSortOrder, Pos_MRPElement, Pos_Date, MRPElement

TRUNCATE TABLE T3_OTIF.dbo.J8329_GetOTIFDate_InputTable INSERT T3_OTIF.dbo.J8329_GetOTIFDate_InputTable SELECT DISTINCT vbap.VBELN, POSNR FROM J8545_SalesOrderCoverage soc JOIN T1_Trans_FB.dbo.SD_SAP_DS_VBAK_VBAP vbap ON vbap.VBELN = LEFT(soc.MRPElement,10) AND vbap.POSNR = RIGHT(LEFT(soc.MRPElement,17),6) 

UPDATE J8545_SalesOrderCoverage
SET
OTIFDateReason = od.OTIFDateReason,
OTIFDate = od.OTIFDate
FROM J8545_SalesOrderCoverage soc
LEFT JOIN T3_OTIF.dbo.fn_J8329_OTIFDate(NULL) od ON od.SO = LEFT(soc.MRPElement,10) AND od.SOI = RIGHT(LEFT(soc.MRPElement,17),6) 

;WITH	c2 AS (	SELECT Date, ROW_NUMBER() OVER(ORDER BY Date) RowNo
				FROM T2_UnipartRail.dbo.V_Calendar
				WHERE 1 = 1
				AND Date BETWEEN DATEADD(YEAR,-2,GETDATE()) AND DATEADD(YEAR,2,GETDATE())
				AND Productions = 'Y'),
		c3 AS (	SELECT	cal.Date, 
						MaxWD = (	SELECT MAX(Date)
									FROM c2
									WHERE c2.Date <= cal.Date),
						MaxRowNo = (SELECT MAX(c2.RowNo)
									FROM c2
									WHERE c2.Date <= cal.Date)
				FROM T2_UnipartRail.dbo.V_Calendar cal
				WHERE Date BETWEEN DATEADD(YEAR,-2,GETDATE()) AND DATEADD(YEAR,2,GETDATE()))

UPDATE J8545_SalesOrderCoverage
SET
OTIFDateMinusGR = (	SELECT CAST(c2.Date AS DATE) WD
					FROM c3 
					CROSS APPLY c2 
					WHERE c3.Date = soc.OTIFDate AND c2.RowNo - c3.MaxRowNo = -1 * marc.GRProcTime)
FROM J8545_SalesOrderCoverage soc
JOIN T2_UnipartRail.dbo.V_J0005_SalesOrders so ON so.SalesOrder = LEFT(soc.MRPElement,10) AND so.SalesOrderItem = RIGHT(LEFT(soc.MRPElement,17),6)
LEFT JOIN T2_UnipartRail.dbo.V_J0001_Material_PlantDataMaterial_MARC marc ON so.Material = marc.Material AND so.Plant = marc.Plant

--SPR_J8545_SalesOrderCoverage